
{% set nowDate = "now"|date_modify("+0 day") %}
{% set month = craft.calendar.month({ date: "today" }) %}
{% set nextMonth = craft.calendar.month({ date: month.nextDate }) %}

{% set isExpectedDateSet = false %}
{% set isExpectedDay = false %}
{% set nowDate = "now"|date_modify("+0 day") %}

<div class="calendar-wrapper" data-calendar="{{ location }}">

  <div class="calendars">

    <div class="month-calendar">
      <table>
        <thead>
          <tr class="list-month">
            <th colspan="7">{{ month.date.format('F Y') }}</th>
          </tr>
          <tr class="list-days">
            {% for day in month|first %}
              <th>{{ day.date.format('D')|first }}</th>
            {% endfor %}
          </tr>
        </thead>
        <tbody>
        {% for week in month %}
          <tr>
            {% for day in week %}

              {% set availableDay = false %}

              {% for event in day.events %}

                 {% if event.title == location %}
                    {% set availableDay = true %}

                    {% if isExpectedDateSet == false %}
                      {% if day.date.format('mm d') > expectedDate.format('mm d') and month.containsDate(day.date) %}
                        {% set isExpectedDay = true %}
                      {% endif %}
                    {% endif %}

                 {% endif %}

              {% endfor %}

              <td class="

                  {{ day.date.isToday ? "today" }}

                  {% if month.containsDate(day.date) %}
                    {% if availableDay %}
                      delivery
                    {% endif %}
                  {% endif %}

                  {% if isExpectedDateSet == false and isExpectedDay %}
                    expected-delivery-date
                    {% set isExpectedDateSet = true %}
                  {% endif %}

                "
                data-year="{{ day.date.year }}"
                data-month="{{ day.date.month }}"
                data-day="{{ day.date.day }}"
                >

                <div>
                  {% if month.containsDate(day.date) %}
                    {{ day.date.format('j') }}
                  {% endif %}
                </div>
              </td>
            {% endfor %}
          </tr>
        {% endfor %}
        </tbody>
      </table>
    </div>

    {% if nowDate.format('d') > 12 %}

      <div class="month-calendar">
        <table>
          <thead>
            <tr class="list-month">
              <th colspan="7">{{ nextMonth.date.format('F Y') }}</th>
            </tr>
            <tr class="list-days">
              {% for day in nextMonth|first %}
                <th>{{ day.date.format('D')|first }}</th>
              {% endfor %}
            </tr>
          </thead>
          <tbody>
          {% for week in nextMonth %}
            <tr>
              {% for day in week %}

                {% set availableDay = false %}

                {% for event in day.events %}

                  {% if event.title == location %}
                    {% set availableDay = true %}

                      {% if isExpectedDateSet == false %}
                        {% if day.date.format('mm d') > expectedDate.format('mm d') and nextMonth.containsDate(day.date) %}
                          {% set isExpectedDay = true %}
                        {% endif %}
                      {% endif %}

                  {% endif %}

                  {% if event.title == location %}
                    {% set availableDay = true %}
                  {% endif %}

                {% endfor %}

                <td class="

                    {% if nextMonth.containsDate(day.date) %}
                      {% if availableDay %}
                        delivery
                      {% endif %}
                    {% endif %}

                    {% if isExpectedDateSet == false and isExpectedDay %}
                      expected-delivery-date
                      {% set isExpectedDateSet = true %}
                    {% endif %}

                  "
                  data-year="{{ day.date.year }}"
                  data-month="{{ day.date.month }}"
                  data-day="{{ day.date.day }}"
                  >

                  <div>
                    {% if nextMonth.containsDate(day.date) %}
                      {{ day.date.format('j') }}
                    {% endif %}
                  </div>
                </td>
              {% endfor %}
            </tr>
          {% endfor %}
          </tbody>
        </table>
      </div>

    {% endif %}

  </div>

  <div class="color-code">
    <div>
      <div class="current-delivery-date"><span></span> Current Delivery Date</div>
      <div class="delivery-date-options"><span></span> Available Delivery Dates</div>
      <div class="today-date"><span></span> Today</div>
    </div>
  </div>

</div>
