
{% set category = craft.categories('mealType').slug('featured') %}

{% for product in craft.commerce.products.relatedTo(category).limit(1) %}

  {% if product.productImage|length > 0 %}
    {% set image = product.productFeaturedImage[0].url %}
  {% else %}
    {% set image = '/images/products/placeholder.jpg' %}
  {% endif %}

  <section id="featured-meal">

    <div class="lock">

      <h1 class="acumin-large">Meal of the Month</h1>

      <div class="product">

        <div class="info">
          <h2 class="acumin-medium-bold">{{ product.title}} <span>{{ product.subTitle }}</span></h2>
          {# <p><span class="acumin-tiny-bold">Ingredients:</span> {{ product.ingredients }}</p> #}
          {% for row in product.productMacros %}
            <p class="acumin-tiny-bold"><span>Protein:</span> {{ row.protein }}</p>
            <p class="acumin-tiny-bold"><span>Carbs:</span> {{ row.carbs }}</p>
            <p class="acumin-tiny-bold"><span>Fat:</span> {{ row.fat }}</p>
          {% endfor %}

        </div>

        <div class="image" style="background-image: url({{ image }})">
          {% include "components/pie-chart.twig" with { 'macros': product.productMacros } %}
        </div>
      </div>

    </div>

  </section>

{% endfor %}
