
{% set cartItemsTotal = 0 %}
{% for item in cart.lineItems %}
  {% set cartItemsTotal = cartItemsTotal + item.qty %}
{% endfor %}

<header>

  <div class="menu-toggle" data-showing='false'>
    <div class="menu-button">
      <div></div>
      <div></div>
      <div></div>
    </div>
    <p class="text">Menu</p>
  </div>

  <menu>

    <div class='mobile-nav'>
      <a href="/shop/quick-order"><div>Quick Order</div></a>
      <div>
        <a href="/pages/macros"><div><span>What are</span>Macros</div></a>
        <a href="/shop"><div>Meals</div></a>
      </div>
      <div>
        <a href="/account/orders" class="current-user-nav"><div>Orders</div></a>
        <a href="{{ logoutUrl }}"class="current-user-nav"><div>Logout</div></a>
      </div>
    </div>

  </menu>

  <div class="lock">

    <a href="/" class="logo">
      <img src="/images/logo/green.svg" alt="image of the macro meals logo" />
    </a>

    <nav>
      <a href="/shop"><span>Meals</span></a>
      <a href="/shop/quick-order"><span>Quick Order</span></a>
      <a href="/pages/macros"><span>Why Macros</span></a>
      <div class="dropdown account-dropdown">
        <button>Account</button>
        <div class="options" aria-hidden='true'>
          <a href="/account/orders">Orders</a>
          <a href="{{ logoutUrl }}">Logout</a>
        </div>
      </div>
    </nav>

    <div class="overlay-actions">

      <button class="login" data-overlay="login-form">Login</button>

      <button class="cart" data-overlay="cart-summary">
        <div class="number">{{ cartItemsTotal }}</div>
        <img src="/images/icons/cart.svg" />
      </button>

    </div>

  </div>

  <div class="header-overlay cart-summary" aria-hidden='true'>

    <div class="order-items"></div>
    <a href="/checkout" class="call-to-action">Checkout</a>

  </div>

  <div class="header-overlay login-form" aria-hidden="true">

    <form method="POST" id="login-form" class="registered-form" accept-charset="UTF-8">

      <div class="field" data-required="true" valid="false">
        <label for="loginName"><span>Username</span></label>
        <div class="input">
          <input type="text"
                 name="loginName"
                 id="loginName"
                 placeholder="johndoe"
                 value="{{ craft.session.rememberedUsername ?? '' }}" />

          <div class="errors">
            <p class="required">Username is a required field</p>
            <p class="duplicate"><span></span> is not available.  Please select another username</p>
          </div>
        </div>
      </div>

      <div class="field" data-required="true" valid="false">
        <label for="password"><span>Password</span></label>
        <div class="input">
          <input type="password"
                 name="password"
                 id="password"
                 placeholder="dontUseMe1234$"
                 value="{{ craft.session.rememberedPassword ?? '' }}" />

          <div class="errors">
            <p class="required">Password is a required field</p>
            <p class="password">Password must be 6 characters</p>
          </div>
        </div>
      </div>

      <div class="checkbox-field">
        <label>
          <input type="checkbox" name="rememberMe" value="0">
          Remember me
        </label>
      </div>

      <div class="craft-errors"></div>

      <div class="login-form-actions">
        <a href="/account/register" class="register-cta">Sign up?</a>
        <input type="submit" value="Sign In" class="call-to-action" />
      </div>

      <p class="forgot-password">
        <a href="/account/forgot-password">Forget your password?</a>
      </p>

    </form>

  </div>

</header>
