
{% set url = craft.request.lastSegment() %}
{% set protein = '' %}
{% set carbs = '' %}
{% set fat = '' %}

{% for row in macros %}

  {% if row.proteinPercentage %}
    {% set protein = row.proteinPercentage %}
  {% endif %}

  {% if row.carbsPercentage %}
    {% set carbs = row.carbsPercentage %}
  {% endif %}

  {% if row.fatPercentage %}
    {% set fat = row.fatPercentage %}
  {% endif %}

{% endfor %}

<div class="pie-chart">

  {% if url == 'labels' %}
    <canvas height="170" width="170" data-print="true" data-pie="{{protein}},{{carbs}},{{fat}}"></canvas>
  {% else %}
    <canvas height="200" width="200" data-pie="{{protein}},{{carbs}},{{fat}}"></canvas>
  {% endif %}

</div>
