
{% extends "_layout" %}
{% includeCssFile "/store.css" %}
{% includeJsFile "/store.js" %}

{% block main %}

  <section id="stage" class="slim-stage">
    <div class="image"></div>
    <div class="lock">
      <h1 class="trajan-large"><div>Meals</div></h1>
    </div>
  </section>

  <section class="notice">

    <div class="lock">

      <div class="text">
        <div class="toggle">
          <h1 class="nimbus-small-bold"><span>NOTICE</span></h1>
          <p class="nimbus-small">The store is only available for those enrolled in our beta program until January 1st, 2018.</p>
        </div>
        <div class="expand-content">
          <div>
            <p>Currently we are accepting applications for new beta members for our October 15th enrollment.  If your are interested please signup below.</p>
            <p>We apologize for the inconvenience but we want to ensure the best product and ingredients for all of our members.</p>
            <a href="/beta" class='call-to-action'>Sign Up</a>
          </div>
        </div>
      </div>

    </div>

  </section>

  <section>

    <div class="lock">

      <div class="meal-wrapper">

        <div class="meal-controller">

          <div>

            <div class="proteins">
              <p class="nimbus-tiny label">Types of Protein</p>

              <form id="checkbox" class="checkbox-options">
                <div>
                  <input type="checkbox" id="vegan" name="vegan" value="vegan">
                  <label for="vegan">Vegan</label>
                </div>
                <div>
                  <input type="checkbox" id="chicken" name="chicken" value="chicken" />
                  <label for="chicken">Chicken</label>
                </div>
                <div>
                  <input type="checkbox" id="pork" name="pork" value="pork" />
                  <label for="pork">Pork</label>
                </div>
              </form>

            </div>

          </div>

        </div>

        <div class="meal-list">

          {% for entry in craft.commerce.products %}

            {% if entry.productImage|length > 0 %}
              {% set image = entry.productImage[0].url %}
            {% else %}
              {% set image = '/images/products/placeholder.jpg' %}
            {% endif %}

            <div class="entry" data-protein="{% for cat in entry.foodCategory %}{{ cat }}{% endfor %}">
              <div class="image">

                {% if entry.productPieChart|length > 0 %}
                  <div class="pie-chart">
                    <img src="{{ entry.productPieChart[0].url }}" alt="image of {{ entry.title }} macros" />
                  </div>
                {% endif %}

                <img src="{{ image }}" alt="image of {{ entry.title}} {{ entry.subTitle }}" />
              </div>
              <h2 class="nimbus-medium-bold">{{ entry.title}}<span>{{ entry.subTitle }}</span></h2>
            </div>

          {% endfor %}

        </div>

      </div>

      </div>

    </div>

  </section>

{% endblock %}
