
{% extends "_layout" %}
{% includeCssFile "/account.css" %}
{% includeJsFile "/login.js" %}
{% set bodyClass = 'with-border' %}

{% set cart = craft.commerce.getCart() %}

{% block main %}

  <script type="text/javascript">
    window.csrfTokenName = "{{ craft.config.csrfTokenName|e('js') }}";
    window.csrfTokenValue = "{{ craft.request.csrfToken|e('js') }}";
  </script>

  <section id="login-options">

    <div class="lock">

      <div class="register-options">

        {# Login  #}

        <div class="registered">

          <p class="acumin-large">Already Registered?</p>

          <form method="POST" id="login-form" class="registered-form" accept-charset="UTF-8">

              {{ getCsrfInput() }}

              <input type="hidden" name="action" value="users/login">

              {% if craft.request.lastSegment() == 'checkout' %}
                <input type="hidden" name="redirect" value="/checkout">
              {% else %}
                <input type="hidden" name="redirect" value="/">
              {% endif %}

              <div class="field" data-required="true" valid="false">
                <label for="loginName"><span>Username</span></label>
                <div class="input">
                  <input type="text"
                         name="loginName"
                         id="loginName"
                         placeholder="johndoe"
                         value="{{ craft.session.rememberedUsername ?? '' }}" />

                  <div class="errors">
                    <p class="required">Username is a required field</p>
                    <p class="duplicate"><span></span> is not available.  Please select another username</p>
                  </div>
                </div>
              </div>

              <div class="field" data-required="true" valid="false">
                <label for="password"><span>Password</span></label>
                <div class="input">
                  <input type="password"
                         name="password"
                         id="password"
                         placeholder="dontUseMe1234$"
                         value="{{ craft.session.rememberedPassword ?? '' }}" />

                  <div class="errors">
                    <p class="required">Password is a required field</p>
                    <p class="password">Password must be 6 characters</p>
                  </div>
                </div>
              </div>

              <div class="checkbox">
                <label>
                  <input type="checkbox" name="rememberMe" value="0">
                  Remember me
                </label>
              </div>

              {% if errorMessage is defined %}
                <p class="craft-error">{{ errorMessage }}</p>
              {% endif %}

              <div class="actions">
                <button class="register-cta">Sign up?</button>
                <input type="submit" value="Member Checkout" class="call-to-action" />
              </div>

          </form>

          <p class="forgot-password">
            <a href="/account/forgot-password">Forget your password?</a>
          </p>

        </div>

        {# Register #}

        <div class="register-signup">

          <p>Not yet Registered? <span>Register for quick checkouts in the future</span></p>

          <button class="register-cta">
            <span class="icons">Register</span>
          </button>

        </div>

      </div>

      {% if craft.request.lastSegment() == 'checkout' %}

        <p class="divider"><span>Or</span></p>

        {# Checkout As Guest #}

        <div class="guest-checkout">

          <div>

            <p class="acumin-large">Guest Checkout</p>
            <div>
              <p>Don’t have an account? Checkout as a guest and you can create an account during the checkout process if you choose.</p>
              <p>Why do we ask for your email address?</p>
              <p>No need to set up an account, but we need your email address to send you an order receipt and keep you updated on the status of your order.</p>
            </div>

          </div>

          <div class="action-event guest">

            <form method="POST" id="guest-form">

              <input type="hidden" name="action" value="commerce/cart/updateCart" />
              <input type="hidden" name="redirect" value="/checkout">
              {{ getCsrfInput() }}

              <div class="">
                <label>Email Address</label>
                <input type="text" name="email" id="guestEmail" value="{{ cart.email ?? '' }}" placeholder="email@site.com" />

                {% if cart and cart.getErrors('email') %}
                  <p class="error">{{ cart.getErrors('email')|join }}</p>
                {% endif %}

              <div>

              <button class="call-to-action guest-cta">Guest Checkout</button>

            </form>

          </div>

        </div>

      {% endif %}

    </div>

  </section>

  <section id="customer-info">

    <div class="lock">

      <form method="POST" id="user-info">

        <div class="form-group registration-details">

          <p class="acumin-medium-bold">Registration Details</p>

          <div class="field" data-required="true" valid="false">
            <label for="username"><span>Username</span></label>
            <div class="input">
              <input type="text"
                     name="username"
                     id="username"
                     placeholder="johndoe"
                     value="" />

              <div class="errors">
                <p class="required">Username is a required field</p>
              </div>
            </div>
          </div>

          <div class="field" data-required="true" valid="false">
            <label for="password"><span>Password</span></label>
            <div class="input">
              <input type="password"
                     name="password"
                     id="register-password"
                     placeholder="dontUseMe1234$"
                     validation="checkForPassword"
                     value="{{ craft.session.rememberedPassword ?? '' }}" />

              <div class="errors">
                <p class="required">Password is a required field</p>
                <p class="password">Password must be 6 characters</p>
              </div>
            </div>
          </div>

          <div class="field" data-required="true" valid="false">
            <label for="password"><span>Email Address</span></label>
            <div class="input">
              <input type="email"
                     name="email"
                     id="email"
                     validation="checkForEmail"
                     placeholder="dont.use@gmail.com"
                     value="" />

              <div class="errors">
                <p class="required">Email is a required field</p>
                <p class="email">Email Address is invalid</p>
              </div>
            </div>
          </div>

          <div class="craft-errors"></div>

          <div class="actions">
            <input type="submit" value="Submit" class="call-to-action">
          </div>

        </div>

      </form>

      <div class="regiseration-confirmation">

        <p>Thank you</p>
        <p>You have successful be registered and logged in</p>
        <a href="/shop">View Meals</a>

      </div>

    </div>

  </section>

{% endblock %}
