
{% extends "_layout" %}
{% includeCssFile "/account.css" %}
{% set bodyClass = 'with-border' %}
{% set pastOrders = craft.commerce.orders.customer(craft.commerce.customer).find() %}

{% block main %}

  <section id="orders" class="account-two-column">

    <div class="lock">

      <div class="account-navigation">
        <a href="/account">Account Details</a>
        <a href="/account/orders">Previous Orders</a>
        <a href="{{ logoutUrl }}">Logout</a>
      </div>

      <div class="account-content">

        <h1 class="acumin-large-bold">Previous Orders</h1>

        {% if pastOrders|length > 0 %}

          {% for order in pastOrders %}

            <div class="order-entry">

              <div class="date">
                <p>{{ order.dateOrdered.format('F d, Y') }}</p>
                <p class="acumin-tiny">Order Number: {{ order.shortNumber }}</p>
              </div>

              <div class="details">

                {% for item in order.lineItems %}

                  <div class="flex item">
                    {% set variant = item.purchasable %}
                    {% set product = variant.product %}
                    <div class="title"><span>{{ item.qty }}</span> {{product.title}} {{ variant.title }}</div>
                    <div class="cost">{{ item.subtotal | currency(cart.currency) }}</div>
                  </div>

                {% endfor %}

                {% if order.totalShippingCost > 0 %}

                <div class="flex item">
                  <div class="title">Shipping Cost</div>
                  <div class="cost">{{ order.totalShippingCost | currency(cart.currency) }}</div>
                </div>

                {% endif %}

                {% if order.baseDiscount != 0 %}

                <div class="flex item">
                  <div class="title">Discount</div>
                  <div class="cost">{{ order.baseDiscount | currency(cart.currency) }}</div>
                </div>

                {% endif %}

                <div class="flex total">
                  <div class="cost">{{ order.totalPrice | currency(cart.currency)  }}</div>
                </div>

              </div>

            </div>

          {% endfor %}

        {% else %}

          <p>You have no previous orders</p>

        {% endif %}

      </div>

    </div>

  </section>

{% endblock %}
