
{% extends "_layout" %}
{% includeCssFile "/checkout.css" %}

{% set cart = craft.commerce.getCart() %}
{% set shippingModel = cart.shippingAddress %}

{% block main %}

  {% if cart.email == '' %}
    {% redirect "/account/login" 301 %}
  {% endif %}

  <script type="text/javascript">
    window.csrfTokenName = "{{ craft.config.csrfTokenName|e('js') }}";
    window.csrfTokenValue = "{{ craft.request.csrfToken|e('js') }}";
  </script>

  <div class="overlay-loader">
    <div class="loader">
      <span>Processing</span>
    </div>
  </div>

  {% include "components/breadcrumb.twig" %}

  <section id="billing-order-summary">

    <div class="lock small-lock">

      <h1 class="acumin-headline"><span>Order Summary</span></h1>
      <p class="list-item">Expected Delivery Date <span>{{ cart.deliveryDate.format('l, F d, Y') }}</span></p>
      <p class="list-item">Total Due <span>{{ cart.totalPrice | commerceCurrency(cart.currency, stripZeros = true) }}</span></p>

    </div>

  </section>

  {% if cart.totalPrice | commerceCurrency(cart.currency, convert = true, format = false, stripZeros = true) == 0 %}

  <section>

    <div class="lock small-lock">

      <form method="POST">
        {{ getCsrfInput() }}
        <input type="hidden" name="action" value="commerce/payments/pay"/>
        <input type="hidden" name="redirect" value="/checkout/complete"/>
        <input type="hidden" name="paymentMethodId" value="5"/>

        <button class="call-to-action" type="submit">Submit Order</button>
      </form>

    </div>

  </section>

  {% else %}

    <section id="payment-method">

      <div class="lock small-lock">

        <div class="payment-type">

          {% if craft.commerce.paymentMethods|length %}
            <form method="POST" id="paymentMethod" data-cost="{{ cart.totalPrice | commerceCurrency(cart.currency, convert = true, format = false, stripZeros = true) }}">

              <h1 class="acumin-headline sr-only"><span>Pay with electronic payment vendors</span></h1>

              <div class='type payment-request-wrapper'>
                <div id="payment-request-button"></div>
              </div>

              <div class='type paypal'>
                <button class="paypal">
                  <img src="https://www.paypalobjects.com/webstatic/en_US/i/buttons/PP_logo_h_200x51.png" alt="PayPal Logo">
                  <span>Checkout</span>
                </button>
              </div>

            </form>
          {% endif %}

        </div>

      </div>

    </section>

    <section id="payment-options">

      <div class="lock small-lock">

        <p class="divider"><span>Or</span></p>

        {# Stripe #}

        <form method="POST" id="payment" data-id='2'>

          <input type="hidden" name="action" value="commerce/payments/pay" />
          <input type="hidden" name="redirect" value="/checkout/complete?order={{cart.number}}" />

          <h1 class="acumin-headline"><span>Pay with Credit Card</span></h1>

          <div class="form-group">

            <div class="field card-name">
              <label><span>Name</span></label>
              <div id="card-name-element" class="input">
                <input type="text" placeholder="John Doe" value="{{ shippingModel.firstName ?? '' }} {{ shippingModel.lastName ?? '' }}" />
              </div>
            </div>

            <div class="field card-number">
              <label><span>Card number</span></label>
              <div id="card-number-element" class="input"></div>
            </div>

            <div class="field expiration">
              <label><span>Expiration date</span></label>
              <div id="card-expiry-element" class="input"></div>
            </div>

            <div class="field card-number">
              <label><span>CVC</span></label>
              <div id="card-cvc-element" class="input"></div>
            </div>

            <div class="field card-number">
              <label><span>Zip Code</span></label>
              <div id="postal-code-element" class="input"></div>
            </div>

          </div>

          <div id="card-errors" role="alert"></div>

          <div class="checkout-actions">

            <a href="/checkout/summary" class="icons">Back <span>to Your Order Summary</span></a>
            <input type="submit" value="Submit Order" class="call-to-action">

          </div>

        </form>

      </div>

    </section>

    <script src="https://js.stripe.com/v3/"></script>
    <script src="/billing.js"></script>

  {% endif %}

{% endblock %}
