
{% extends "_layout" %}
{% includeCssFile "/checkout.css" %}
{% includeJsFile "/billing.js" %}

{% set cart = craft.commerce.getCart() %}
{% set shippingModel = cart.shippingAddress %}

{% block main %}

  {% if cart.email == '' %}
    {% redirect "/account/login" 301 %}
  {% endif %}

  <script type="text/javascript">
    window.csrfTokenName = "{{ craft.config.csrfTokenName|e('js') }}";
    window.csrfTokenValue = "{{ craft.request.csrfToken|e('js') }}";
  </script>

  {% include "components/breadcrumb.twig" %}

  <section id="billing-order-summary">

    <div class="lock small-lock">

      <h1 class="acumin-headline"><span>Order Summary</span></h1>
      <p class="list-item">Expected Delivery Date <span>{{ cart.deliveryDate.format('l, F d, Y') }}</span></p>
      <p class="list-item">Total Due <span>{{ cart.totalPrice | commerceCurrency(cart.currency, stripZeros = true) }}</span></p>

    </div>

  </section>

  <section id="payment-method">

    <div class="lock small-lock">

      <div class="payment-type">

        {% if craft.commerce.paymentMethods|length %}
          <form method="POST" id="paymentMethod" data-cost="{{ cart.totalPrice | commerceCurrency(cart.currency, convert = true, format = false, stripZeros = true) }}">

            <h1 class="acumin-headline"><span>Select your form of payment</span></h1>

            <div class='type payment-request-wrapper'>
              <div id="payment-request-button"></div>
            </div>

            <div class='type' active="true">
              <button data-attr="2">Credit Card</button>
            </div>

            {% if currentUser.admin %}
              <div class='type'>
                <button data-attr="3">Dummy Payment</button>
              </div>
            {% endif %}

            <div class='type' active="true">
              <div id="paypal-button-container"></div>
            </div>

          </form>
        {% endif %}

      </div>

    </div>

  </section>

  <section id="payment-options">

    <div class="lock small-lock">

      {# Stripe #}

      <form method="POST" id="payment" data-id='2'>

        <input type="hidden" name="action" value="commerce/payments/pay" />
        <input type="hidden" name="redirect" value="/checkout/complete?order={{cart.number}}" />

        <h1 class="acumin-headline"><span>Credit Card Information</span></h1>

        <div class="form-group">

          <div class="loader"></div>

          <div class="field card-name">
            <label><span>Name</span></label>
            <div id="card-name-element" class="input">
              <input type="text" placeholder="John Doe" value="{{ shippingModel.firstName ?? '' }} {{ shippingModel.lastName ?? '' }}" />
            </div>
          </div>

          <div class="field card-number">
            <label><span>Card number</span></label>
            <div id="card-number-element" class="input"></div>
          </div>

          <div class="field expiration">
            <label><span>Expiration date</span></label>
            <div id="card-expiry-element" class="input"></div>
          </div>

          <div class="field card-number">
            <label><span>CVC</span></label>
            <div id="card-cvc-element" class="input"></div>
          </div>

          <div class="field card-number">
            <label><span>Zip Code</span></label>
            <div id="postal-code-element" class="input"></div>
          </div>

        </div>

        <div id="card-errors" role="alert"></div>

        <div class="checkout-actions">

          <a href="/checkout/summary" class="icons">Back <span>to Your Order Summary</span></a>
          <input type="submit" value="Submit Order" class="call-to-action">

        </div>

      </form>

      {% if currentUser.admin %}

        {# Dummy Payment #}

        <form id="dummy" data-id='3'>

          <div class="field">
            <label>Dummy First Name</label>
            <div class="input">
              <input type="text" id="firstName" name="firstName" value="Bob" />
            </div>
          </div>

          <div class="field">
            <label>Dummy Last Name</label>
            <div class="input">
              <input type="text" id="lastName" name="lastName" value="Handsome" />
            </div>
          </div>

          <div class="field">
            <label>Dummy Month</label>
            <div class="input">
              <input type="text" id="month" name="month" value="12" />
            </div>
          </div>

          <div class="field">
            <label>Dummy Month</label>
            <div class="input">
              <input type="text" id="year" name="year" value="2020" />
            </div>
          </div>

          <div class="field">
            <label>Dummy CVV</label>
            <div class="input">
              <input type="text" id="cvv" name="cvv" value="342" />
            </div>
          </div>

          <div class="field">
            <label>Dummy Number</label>
            <div class="input">
              <input type="text" id="number" name="number" value="4929000000006" />
            </div>
          </div>

          <div class="checkout-actions">

            <a href="/checkout/summary" class="icons">Back <span>to Your Order Summary</span></a>
            <input type="submit" value="Submit Order" class="call-to-action">

          </div>

        </form>

      {% endif %}

    </div>

  </section>

  <script src="https://js.stripe.com/v3/"></script>
  <script src="https://www.paypalobjects.com/api/checkout.js"></script>

{% endblock %}
