
{% extends "_layout" %}
{% includeCssFile "/checkout.css" %}
{% includeJsFile "/customer.js" %}



{% set cart = craft.commerce.getCart() %}

{% set number = craft.request.param('number') %}
{% set order = craft.commerce.orders.number(number).first() %}

{% set model = cart.shippingAddress %}

{% block main %}

  {% requireLogin %}

  {% include "checkout/components/breadcrumb.twig" %}

  {% if currentUser %}
      <a href="{{ logoutUrl }}">Logout</a>
  {% endif %}


  {% if order.shippingAddress %}
    fuck
  {% endif %}

  <form method="POST" id="address-info">

    {{ getCsrfInput() }}

    <input type="hidden" name="action" value="commerce/cart/updateCart">
    <input type="hidden" name="redirect" value="checkout/summary">
    <input type="hidden" name="shippingAddressId" value="new">

    {% if errors is defined %}
        <ul class="errors">
            {% for error in errors %}
                <li>{{ error }}</li>
            {% endfor %}
        </ul>
    {% endif %}


    {# {% if addresses and currentUser%}
        {% for address in addresses %}
            <div class="address-select" data-address-id="{{ address.id }}">
                <div class="actions">
                    <ul>
                        <li><a class="edit" href="{{ url('shop/customer/addresses/edit?addressId='~ address.id ~'&redirect='~craft.request.path)}}">Edit</a>
                        </li>
                    </ul>
                </div>
                <div class="radio">
                    <input type="radio" name="{{ name }}Id"
                        {% if attribute(cart,name~'Id') == address.id %}checked="checked"{% endif %} value="{{ address.id }}"/>
                        {% include 'shop/_includes/addresses/address' %}
                </div>
            </div>
        {% endfor %}
    {% endif %} #}





    <section id="details">

      <div class="lock">

        <p class="acumin-medium-bold">Contact Details</p>

        <div>
          <label for="firstName">First Name</label>
          <input type="text" name="shippingAddress[firstName]" id="firstName" value="{{ model.firstName ?? '' }}" />

          {% if model and model.getErrors('firstName') %}
            <p class="error">{{ model.getErrors('firstName')|join }}</p>
          {% endif %}

        </div>

        <div>
          <label for="lastName">Last Name</label>
          <input type="text" name="shippingAddress[lastName]" id="lastName" value="{{ model.lastName ?? '' }}" />
          {% if model and model.getErrors('lastName') %}
            <p class="error">{{ model.getErrors('lastName')|join }}</p>
          {% endif %}
        </div>

        <div>
          <label for="phone">Phone Number</label>
          <input type="text" name="shippingAddress[phone]" id="phone" value="{{ model.phone ?? '' }}" />
          {% if model and model.getErrors('phone') %}
            <p class="error">{{ model.getErrors('phone')|join }}</p>
          {% endif %}
        </div>

      </div>

    </section>

    <section id="address">

      <div class="lock">

        <p class="acumin-medium-bold">Contact Address</p>

        <div>
          <label for="address">Address 1</label>
          <input type="text" name="shippingAddress[address1]" id="address1" value="{{ model.address1 ?? '' }}" />
          {% if model and model.getErrors('address1') %}
            <p class="error">{{ model.getErrors('address1')|join }}</p>
          {% endif %}
        </div>

        <div>
          <label for="address-two">Address 2</label>
          <input type="text" name="shippingAddress[address2]" id="address2" value="{{ model.address2 ?? '' }}" />
          {% if model and model.getErrors('address2') %}
            <p class="error">{{ model.getErrors('address2')|join }}</p>
          {% endif %}
        </div>

        <div>
          <label for="city">City</label>
          <input type="text" name="shippingAddress[city]" id="city" value="{{ model.city ?? '' }}" />
          {% if model and model.getErrors('city') %}
            <p class="error">{{ model.getErrors('city')|join }}</p>
          {% endif %}
        </div>

        <div>
          <label for="zip">Zip</label>
          <input type="text" name="shippingAddress[zipCode]" id="zipCode" value="{{ model.zipCode ?? '' }}" />
          {% if model and model.getErrors('zipCode') %}
            <p class="error">{{ model.getErrors('zipCode')|join }}</p>
          {% endif %}
        </div>

        <input type="text" name="shippingAddress[countryId]" value='233' />
        {% if model and model.getErrors('countryId') %}
          <p class="error">{{ model.getErrors('countryId')|join }}</p>
        {% endif %}

        {% set states = craft.commerce.statesArray["233"] %}
        <input type="hidden" name="sameAddress" value="1">

        {# <select name="shippingAddress[stateId]">
          {% for state in craft.commerce.states %}
            <option value="{{ state.id }}">{{ state.name }}</option>
          {% endfor %}
          {% if model and model.getErrors('stateId') %}
            <p class="error">{{ model.getErrors('stateId')|join }}</p>
          {% endif %}
        </select> #}

      </div>

    </section>

    <section class="action">

      <div class="lock">

        <div class="actions">
          <input type="submit" data-button="continue" value="Continue to Order Summary" class="call-to-action">
        </div>

      </div>

    </section>

  </form>

{% endblock %}
