
{% extends "_layout" %}
{% includeCssFile "/checkout.css" %}
{% includeJsFile "/customer.js" %}

{% set cart = craft.commerce.getCart %}
{% set shippingModel = cart.shippingAddress %}
{% set addresses = craft.commerce.customer.addresses|last %}

{% set states = craft.commerce.statesArray["233"] %}

{% block main %}

  {% if cart.email == '' %}
    {% redirect "/account/login" 301 %}
  {% endif %}

  {% include "components/breadcrumb.twig" %}

  <form method="POST" id="address-info">

    {{ getCsrfInput() }}

    <input type="hidden" name="action" value="commerce/cart/updateCart">
    <input type="hidden" name="redirect" value="checkout/summary">
    <input type='hidden' name="sameAddress" value="1" />
    <input type="hidden" name="shippingAddressId" value="new">

    <input type="hidden" name="shippingAddress[countryId]" value='233' />
    <input type="hidden" name="quantity" value='{{ cart.totalQty }}' />

    <section id="contact-details">

      <div class="lock">

        <p class="required required-disclaimer"><span>Required Field</span></p>

        <p class="acumin-medium-bold">Contact Details</p>

        <div class="field" data-required="true" valid="false">
          <label for="firstName"><span>First Name</span></label>
          <div class="input">
            <input type="text"
                   name="shippingAddress[firstName]"
                   id="firstName"
                   validation="checkForLetterWithSpaceDash"
                   value="{{ shippingModel.firstName ?? addresses.firstName ?? '' }}" />

            <div class="errors">
              <p class="required">First name is a required field</p>
              <p class="letters">First name can only contain letters, dashes and spaces</p>
            </div>
          </div>
        </div>

        <div class="field" data-required="true" valid="false">
          <label for="lastName"><span>Last Name</span></label>
          <div class="input">
            <input type="text"
                   name="shippingAddress[lastName]"
                   id="lastName"
                   validation="checkForLetterWithSpaceDash"
                   value="{{ shippingModel.lastName ?? addresses.lastName ?? '' }}" />

            <div class="errors">
              <p class="required">Last name is a required field</p>
              <p class="letters">Last name can only contain letters and spaces</p>
            </div>
          </div>
        </div>

      </div>

    </section>

    <section id="customer-address">

      <div class="lock">

        <p class="acumin-medium-bold">Shipping Address</p>

        <div class="field" data-required="true" valid="false">
          <label for="address"><span>Shipping Address 1</span></label>
          <div class="input">
            <input type="text"
                   name="shippingAddress[address1]"
                   id="address1"
                   value="{{ shippingModel.address1 ?? addresses.address1 ?? '' }}" />

            <div class="errors">
              <p class="required">Shipping address is a required field</p>
            </div>
          </div>
        </div>

        <div class="field" valid="true">
          <label for="address-two">Shipping Address 2</label>
          <div class="input">
            <input type="text"
                   name="shippingAddress[address2]"
                   id="address2"
                   value="{{ shippingModel.address2 ?? addresses.address2 ?? '' }}" />

            <div class="errors"></div>
          </div>
        </div>

        <div class="field" data-required="true" valid="false">
          <label for="city"><span>Shipping City</span></label>
          <div class="input">
            <input type="text"
                   name="shippingAddress[city]"
                   id="city"
                   value="{{ shippingModel.city ?? addresses.city ?? '' }}" />

            <div class="errors">
              <p class="required">Shipping city is a required field</p>
            </div>
          </div>
        </div>

        <div class="field" data-required="true" valid="false">
          <label for="zip"><span>Shipping Zip</span></label>
          <div class="input">
            <input type="text"
                   name="shippingAddress[zipCode]"
                   id="zipCode"
                   maxLength="5"
                   value="{{ shippingModel.zipCode ?? addresses.zipCode ?? '' }}" />

            <div class="errors">
              <p class="required">Shipping zip code is a required field</p>
            </div>
            <div class="shipping-cost">
              <p></p>
            </div>
          </div>
        </div>

        <div class="field" data-required="true" valid="true">
          <label for="state"><span>Shipping State</span></label>
          <div class="input">
            <select name="shippingAddress[stateId]" >
              <option disabled selected value> Please Choose </option>
              {% for state in craft.commerce.states %}

                {% if shippingModel %}

                  {% if shippingModel.state == state %}
                    <option value="{{ shippingModel.stateId }}" selected> {{ shippingModel.state }}</option>
                  {% else %}
                    <option value="{{ state.id }}">{{ state.name }}</option>
                  {% endif %}

                {% else %}
                  <option value="{{ state.id }}">{{ state.name }}</option>
                {% endif %}

              {% endfor %}
            </select>
          </div>

        </div>

      </div>

    </section>

    <section id="notice">

      <div class="lock">

        <h1><span>Announcement</span></h1>
        <p>Orders placed by Friday 12/01 will be shipped on Monday the 12/04 and delivered on Tuesday 12/05.</p>
        <div>
          <p>We will begin shipping 4 days a week on January 1st.  We apologize for the inconvenience!</p>
          <p>We are working on finding the best shipping method possible to keep your costs down and your ingredients fresh.</p>
        </div>

      </div>

    </section>

    {# <section id="shipping-method">

      <div class="lock">

        <h1 class="acumin-medium-bold">Please select your shipping method</h1>

        {% set overnight = 'overnight' %}
        <input type="hidden" name="shippingMethod" value="{% if cart.shippingMethod %}{{cart.shippingMethod.handle}}{% endif %}" />

        {% for handle, method in craft.commerce.availableShippingMethods %}

          {% if handle != overnight %}

            <div class="shpping-type" data-handle="{{ handle }}" {{ cart.shippingMethod ? cart.shippingMethod.handle == handle ? 'data-active="true"' }}>
              <h2>{{ method.name }}</h2>
              {% if handle == 'pickup' %}
                <p>Pickups are scheduled for every Tuesday Morning at 8am at the YMCA in Abingdon Maryland (Canton, Maryland coming soon!)</p>
                <address>
                  <p>101 Walter Ward Blvd,<br> Abingdon, MD 21009</p>
                  <a target="_blank" href="https://www.google.com/maps/place/The+Ward+Y+in+Abingdon/@39.4651901,-76.30869,17z/data=!3m1!4b1!4m5!3m4!1s0x89c7e7aff9cdd5c3:0xd8d4b8d7898c3704!8m2!3d39.4651901!4d-76.3065013">View on Map</a>
                </address>
                <p class="costs">Pickup costs are $10</p>
              {% endif %}
            </div>

          {% endif %}

        {% endfor %}

        {% for handle, method in craft.commerce.availableShippingMethods  %}

          {% if handle == overnight %}

            <div class="shpping-type" data-handle="{{ handle }}" {{ cart.shippingMethod ? cart.shippingMethod.handle == handle ? 'data-active="true"' }} >
              <h2>{{ method.name }}</h2>
              <p>FedEx Overnight Ground Delivery.</p>
              <p>We ship on Monday through Thursday.</p>
              <p class="costs">Delivery cost are determined by your location.</p>
            </div>
          {% endif %}

        {% endfor %}

      </div>

    </section> #}

    <section class="action">

      <div class="lock">

        <div class="actions">
          <input type="submit" data-button="continue" value="Continue to Order Summary" class="call-to-action">
          {# <input type="submit" data-button="continue" value="Continue to Order Summary" class="call-to-action" {% if cart.shippingMethod %}{% if cart.shippingMethod.handle != 'pickup' %} 'disabled'{% endif %} {% else %}disabled{% endif %}> #}
        </div>

      </div>

    </section>

  </form>

{% endblock %}
