
{% extends "_layout" %}
{% includeCssFile "/checkout.css" %}
{% includeJsFile "/customer.js" %}

{% set cart = craft.commerce.getCart %}
{% set shippingModel = cart.shippingAddress %}
{% set billingModel = cart.billingAddress %}

{% set addresses = craft.commerce.customer.addresses %}
{% set addressModel = '' %}
{% if addresses %}
  {% set addressModel = addresses[addresses | length - 1] %}
{% endif %}

{% set states = craft.commerce.statesArray["233"] %}

{% block main %}

  {% if cart.email == '' %}
    {% redirect "/account/login/checkout" 301 %}
  {% endif %}

  {% include "components/breadcrumb.twig" %}

  <form method="POST" id="address-info">

    {{ getCsrfInput() }}

    <input type="hidden" name="action" value="commerce/cart/updateCart">
    <input type="hidden" name="redirect" value="checkout/summary">
    <input type='hidden' name="sameAddress" value="1" />
    <input type="hidden" name="shippingAddressId" value="{{ shippingModel is not null ? shippingModel.id : 'new' }}">
    {# <input type="hidden" name="billingAddressId" value="{{ billingModel is not null ? billingModel.id : 'new' }}"> #}

    <input type="hidden" name="shippingAddress[countryId]" value='233' />

    <section id="contact-details">

      <div class="lock">

        <p class="required required-disclaimer"><span>Required Field</span></p>

        <p class="acumin-medium-bold">Contact Details</p>

        <div class="field" data-required="true" valid="false">
          <label for="firstName"><span>First Name</span></label>
          <div class="input">
            <input type="text"
                   name="shippingAddress[firstName]"
                   id="firstName"
                   validation="checkForLetter"
                   value="{{ addressModel.firstName ?? '' }}" />

            <div class="errors">
              <p class="required">First name is a required field</p>
              <p class="letters">First name can only contain letters</p>
            </div>
          </div>
        </div>

        <div class="field" data-required="true" valid="false">
          <label for="lastName"><span>Last Name</span></label>
          <div class="input">
            <input type="text"
                   name="shippingAddress[lastName]"
                   id="lastName"
                   validation="checkForLetter"
                   value="{{ addressModel.lastName ?? '' }}" />

            <div class="errors">
              <p class="required">Last name is a required field</p>
              <p class="letters">Last name can only contain letters</p>
            </div>
          </div>
        </div>

        <div class="field" valid="true">
          <label for="phone">Phone Number</label>
          <div class="input">
            <input type="text"
                   name="shippingAddress[phone]"
                   id="phone"
                   value="{{ addressModel.phone ?? '' }}" />
            <div class="errors"></div>
          </div>
        </div>

      </div>

    </section>

    <section id="customer-address">

      <div class="lock">

        <p class="acumin-medium-bold">Shipping Address</p>

        <div class="field" data-required="true" valid="false">
          <label for="address"><span>Shipping Address 1</span></label>
          <div class="input">
            <input type="text"
                   name="shippingAddress[address1]"
                   id="address1"
                   value="{{ addressModel.address1 ?? '' }}" />

            <div class="errors">
              <p class="required">Shipping address is a required field</p>
            </div>
          </div>
        </div>

        <div class="field" valid="true">
          <label for="address-two">Shipping Address 2</label>
          <div class="input">
            <input type="text"
                   name="shippingAddress[address2]"
                   id="address2"
                   value="{{ addressModel.address2 ?? '' }}" />

            <div class="errors"></div>
          </div>
        </div>

        <div class="field" data-required="true" valid="false">
          <label for="city"><span>Shipping City</span></label>
          <div class="input">
            <input type="text"
                   name="shippingAddress[city]"
                   id="city"
                   value="{{ addressModel.city ?? '' }}" />

            <div class="errors">
              <p class="required">Shipping city is a required field</p>
            </div>
          </div>
        </div>

        <div class="field" data-required="true" valid="false">
          <label for="zip"><span>Shipping Zip</span></label>
          <div class="input">
            <input type="text"
                   name="shippingAddress[zipCode]"
                   id="zipCode"
                   value="{{ addressModel.zipCode ?? '' }}" />

            <div class="errors">
              <p class="required">Shipping zip code is a required field</p>
            </div>
          </div>
        </div>

        <div class="field" data-required="true" valid="true">
          <label for="state"><span>Shipping State</span></label>
          <div class="input">
            <select name="shippingAddress[stateId]" >
              <option disabled selected value> Please Choose </option>
              {% for state in craft.commerce.states %}

                {% if addressModel %}

                  {% if addressModel.state == state %}
                    <option value="{{ addressModel.stateId }}" selected> {{ addressModel.state }}</option>
                  {% else %}
                    <option value="{{ state.id }}">{{ state.name }}</option>
                  {% endif %}

                {% else %}
                  <option value="{{ state.id }}">{{ state.name }}</option>
                {% endif %}

              {% endfor %}
            </select>
          </div>

        </div>

      </div>

    </section>

    <section id="shipping-method">

      <div class="lock">

        <h1 class="acumin-medium-bold">Shipping Method</h1>

        <div class="types">

          {% for handle, method in craft.commerce.availableShippingMethods %}

            {% if loop.first %}
              <input type="hidden" name="shippingMethod" value="overnight" />
            {% endif %}

            <div class="shpping-type" data-handle="{{ handle }}" {% if loop.first %}data-active="true"{% endif %}>

              <div>
                <h2 class="acumin-small">{{ method.name }}</h2>
                <p>{{ method.description }}</p>
              </div>

            </div>

          {% endfor %}

        </div>

      </div>

    </section>



    {# <section id="billing-address">

      <div class="lock">

        <p class="acumin-medium-bold">Billing Address</p>

        <div class="checkbox-field">
          <input type="checkbox" name="billingAddressSame" id="sameAddress" />
          <input type='hidden' name="sameAddress" value="0" />
          <label for="sameAddress"><span>Same as Shipping Address</span></label>
        </div>

        <div class="billing-fields">

          <div class="field" data-required="true" valid="false">
            <label for="address"><span>Billing Address 1</span></label>
            <div class="input">
              <input type="text"
                     name="billingAddress[address1]"
                     id="billingaddress1"
                     value="{{ addressModel.address1 ?? '' }}" />

              <div class="errors">
                <p class="required">Billing address is a required field</p>
              </div>
            </div>
          </div>

          <div class="field" valid="true">
            <label for="address-two">Billing Address 2</label>
            <div class="input">
              <input type="text"
                     name="billingAddress[address2]"
                     id="address2"
                     value="{{ addressModel.address2 ?? '' }}" />

              <div class="errors"></div>
            </div>
          </div>

          <div class="field" data-required="true" valid="false">
            <label for="city"><span>Billing City</span></label>
            <div class="input">
              <input type="text"
                     name="billingAddress[city]"
                     id="city"
                     value="{{ addressModel.city ?? '' }}" />

              <div class="errors">
                <p class="required">Billing city is a required field</p>
              </div>
            </div>
          </div>

          <div class="field" data-required="true" valid="false">
            <label for="zip"><span>Billing Zip</span></label>
            <div class="input">
              <input type="text"
                     name="billingAddress[zipCode]"
                     id="zipCode"
                     value="{{ addressModel.zipCode ?? '' }}" />

              <div class="errors">
                <p class="required">Billing zip code is a required field</p>
              </div>
            </div>
          </div>

          <div class="field" data-required="true" valid="true">

            <label for="state"><span>Billing State</span></label>
            <div class="input">
              <select name="billingAddress[stateId]">
                <option disabled selected value> Please Choose </option>
                {% for state in craft.commerce.states %}
                  {% if addressModel %}

                    {% if addressModel.state == state %}
                      <option value="{{ addressModel.stateId }}" selected> {{ addressModel.state }}</option>
                    {% else %}
                      <option value="{{ state.id }}">{{ state.name }}</option>
                    {% endif %}

                  {% else %}
                    <option value="{{ state.id }}">{{ state.name }}</option>
                  {% endif %}
                {% endfor %}
              </select>
            </div>

          </div>

        </div>

      </div>

    </section> #}







    <section class="action">

      <div class="lock">

        <div class="actions">
          <input type="submit" data-button="continue" value="Continue to Order Summary" class="call-to-action">
        </div>

      </div>

    </section>

  </form>

{% endblock %}
