
{% extends "_layout" %}
{% do view.registerCssFile('/checkoutStyle.css') %}
{% do view.registerJsFile('/pickup.js') %}

{% set cart = craft.commerce.carts.cart %}
{% set shippingModel = cart.shippingAddress %}
{% set addresses = craft.commerce.customers.customer.addresses|last %}

{% block main %}

  {% if cart.email == '' %}
    {% set nextPage = 'pickup' %}
    {% redirect "/account/login/pickup" 301 %}
  {% endif %}

  {% include "components/breadcrumb.twig" %}

  <form method="POST" id="pickup-options">

    {{ csrfInput() }}

    <script type="text/javascript">
      window.csrfTokenName = "{{ craft.app.config.general.csrfTokenName }}";
      window.csrfTokenValue = "{{ craft.app.request.csrfToken }}";
    </script>

    <input type="hidden" name="action" value="commerce/cart/update-cart">
    <input type="hidden" name="redirect" value="/checkout/billing">
    <input type="hidden" name="shippingMethodHandle" value='pickup' />
    <input type='hidden' name="billingAddressSameAsShipping" value="1" />

    {% if shippingModel.id %}
      <input type="hidden" name="shippingAddress[id]" value="{{ shippingModel.id }}">
    {% endif %}

    <input type="hidden" name="shippingAddress[countryId]" value='233' />
    <input type="hidden" name="fields[deliveryDate][date]" value="">
    <input type="hidden" name="fields[deliveryDate][time]" value="5:00 AM">
    <input type="hidden" name="emailAddress" value="{{ cart.email }}">

    <div class="overlay-loader">
      <div class="loader">
        <span>Processing</span>
      </div>
    </div>

    <section id="contact-details">

      <div class="lock">

        <p class="required required-disclaimer"><span>Required Field</span></p>

        <h1 class="acumin-headline"><span>Contact Details</span></h1>

        <div class="field" data-required="true" valid="false">
          <label for="firstName"><span>First Name</span></label>
          <div class="input">
            <input type="text"
                   name="shippingAddress[firstName]"
                   id="firstName"
                   validation="checkForLetterWithSpaceDash"
                   value="{{ shippingModel.firstName ?? addresses.firstName ?? '' }}" />

            <div class="errors">
              <p class="required">First name is a required field</p>
              <p class="letters">First name can only contain letters, dashes and spaces</p>
            </div>
          </div>
        </div>

        <div class="field" data-required="true" valid="false">
          <label for="lastName"><span>Last Name</span></label>
          <div class="input">
            <input type="text"
                   name="shippingAddress[lastName]"
                   id="lastName"
                   validation="checkForLetterWithSpaceDash"
                   value="{{ shippingModel.lastName ?? addresses.lastName ?? '' }}" />

            <div class="errors">
              <p class="required">Last name is a required field</p>
              <p class="letters">Last name can only contain letters and spaces</p>
            </div>
          </div>
        </div>

        <div class="weekly-reminder">
          <label>
            <input type="checkbox" checked>
            <span>Would you like to receive an email reminder on Wednesday for available order dates</span>
          </label>
        </div>

      </div>

    </section>

    <section id="pickup-summary">

      <div class="lock">

        <h1 class="acumin-headline"><span>Pickup Locations</span></h1>
        <h2>Pickups costs are $0 for shipping</h2>

        <div class="options">

          <div class="info">
            <div>
              <h2>Abingdon Post Man Plus</h2>
              <p>Pickup hours are typically 11-7 (11-3 on Saturdays).</p>
              <address>
                <p>3438 Emmorton Rd</p>
                <p>Abingdon, MD 21009</p>
                <a href="https://www.google.com/maps/dir//Postman+Plus,+3438+Emmorton+Rd,+Abingdon,+MD+21009/@39.4674016,-76.3131107,15z/data=!4m8!4m7!1m0!1m5!1m1!1s0x89c7e7a46eed2335:0xf0f6718230cd08b7!2m2!1d-76.3131107!2d39.4674016" target="_blank">See on Map</a>
              </address>
            </div>
            <button data-id="Abingdon" data-method="abingdonPostManPlus" class="call-to-action">Select</button>
          </div>

          <div class="info">
            <div>
              <h2>Canton Broom Factory</h2>
              <p>Pickup hours will be arranged through email.</p>
              <address>
                <p>3500 Boston St</p>
                <p>Baltimore, MD 21224</p>
                <a href="https://www.google.com/maps/dir//3500+Boston+Street,+Baltimore,+MD/@39.2778012,-76.5692097,17z/data=!4m8!4m7!1m0!1m5!1m1!1s0x89c803f40853ebfd:0x6516264f1cbf93ee!2m2!1d-76.567021!2d39.2778012" target="_blank">See on Map</a>
              </address>
            </div>
            <button data-id="Canton" data-method="cantonPickup" class="call-to-action">Select</button>
          </div>

          <div class="info">
            <div>
              <h2>Kelly & Associates</h2>
              <p>Pickup hours will be arranged through email.</p>
              <address>
                <p>1 Kelly Way</p>
                <p>Sparks Glencoe, MD 21152</p>
                <a href="https://www.google.com/maps/dir//1+Kelly+Way,+Sparks+Glencoe,+MD/@39.5106123,-76.646143,17z/data=!4m8!4m7!1m0!1m5!1m1!1s0x89c8129c3e752555:0xdab240f687a44b64!2m2!1d-76.6439543!2d39.5106123" target="_blank">See on Map</a>
              </address>
            </div>
            <button data-id="Kelly" data-method="kellyAssociates" class="call-to-action">Select</button>
          </div>

        </div>

      </div>

    </section>

    <section id="calendar" class="pickup-calendars">

      <div class="lock">

        <h1 class="acumin-headline"><span>Select your Delivery Date For </span></h1>

        {% set expectedDate = "now"|date_modify("+2 day") %}

        {# Abingdon Calendar  #}
        {% include "components/calendar-includes.twig" with { 'location' : 'Abingdon', 'expectedDate' : expectedDate } %}

        {# Canton Calendar  #}
        {% include "components/calendar-includes.twig" with { 'location' : 'Canton', 'expectedDate' : expectedDate } %}

        {# Kelly Calendar  #}
        {% include "components/calendar-includes.twig" with { 'location' : 'Kelly', 'expectedDate' : expectedDate } %}

      </div>

    </section>

    <section class="checkout-actions">

      <div class="lock">

        <div class="actions">
          <a href="/checkout" class="icons">Back <span>to Cart Summary</span></a>
          <div>
            <a href="/checkout/customer">See Delivery Options</a>
            <input type="submit" disabled data-button="continue" value="Continue to Billing" class="call-to-action">
          </div>
        </div>

      </div>

    </section>

  </form>

{% endblock %}
