
{% extends "_layout" %}
{% includeCssFile "/checkout.css" %}
{% includeJsFile "/shipping.js" %}

{% set cart = craft.commerce.getCart %}
{% set shippingModel = cart.shippingAddress %}
{% set currentShippingMethod = cart.getShippingmethod %}

{% block main %}

  {% if cart.email == '' %}
    {% redirect "/account/login" 301 %}
  {% endif %}

  {% include "components/breadcrumb.twig" %}

  <form method="POST" id="pickup-options">

    {{ getCsrfInput() }}

    <input type="hidden" name="action" value="commerce/cart/updateCart">
    <input type="hidden" name="redirect" value="checkout/summary">
    <input type="hidden" name="shippingMethod" value="{% if cart.shippingMethod %}{{cart.shippingMethod.handle}}{% endif %}" />

    <section id="pickup-list">

      <div class="lock">

        <h1 class="acumin-medium-bold">Shipping methods</h1>

        <div class="shipping-type" data-handle="overnight" data-name="Overnight" data-cost="{{ cart.totalShippingCost | number_format(2, '.', ',') }}">
          <div class="shop-details">
            <h2>Delivery</h2>
          </div>
          {% if currentShippingMethod.handle == 'overnight' %}
            <button data-zip="{{ shippingModel.zipCode ?? addresses.zipCode ?? '' }}" disabled>Selected</button>
          {% else %}
            <button data-zip="{{ shippingModel.zipCode ?? addresses.zipCode ?? '' }}">Select</button>
          {% endif %}
       </div>

       <div class="pickup-options">
         <button class="show-pickups">See List of Pickup Options for Maryland Customers</button>

         <div class="pickup-list">

           <div class="wrapper">

              {% for handle, method in craft.commerce.availableShippingMethods  %}

                {% if handle == 'abingdonPostManPlus' %}

                 <div class="shipping-type" data-handle="{{ handle }}" data-name="{{ method.name }}" data-cost="0">
                   <div class="shop-details">
                     <h2>Post Man Plus</h2>
                     <address>
                       <p>3438 Emmorton Rd<br> Abingdon, MD 21009</p>
                     </address>
                     <a target="_blank" href="https://www.google.com/maps/place/Postman+Plus/@39.4674016,-76.3152994,17z/data=!3m1!4b1!4m7!3m6!1s0x0:0xf0f6718230cd08b7!8m2!3d39.4674016!4d-76.3131107!9m1!1b1">View on Map</a>
                   </div>
                   {% if currentShippingMethod.handle == handle %}
                    <button disabled>Selected</button>
                   {% else %}
                    <button>Select</button>
                   {% endif %}
                </div>

                {% endif %}

              {% endfor %}

                  {# <div class="shipping-type" data-handle="betterHandle" data-name="Better Name" data-cost="0">
                    <div class="shop-details">
                      <h2>Harford Pack & Ship</h2>
                      <address>
                        <p>15 E Churchville Rd<br>Bel Air, MD 21014</p>
                      </address>
                      <a target="_blank" href="https://www.google.com/maps/place/Harford+Pack+%26+Ship/@39.5368548,-76.3499856,17.19z/data=!4m12!1m6!3m5!1s0x0:0x4c98b3c65231cd99!2sUnited+States+Postal+Service!8m2!3d39.5288131!4d-76.3614044!3m4!1s0x0:0xbfee7307036b8e3!8m2!3d39.534975!4d-76.3466113">View on Map</a>
                    </div>
                    <div class="map">
                      <div id="harfordPackMap"></div>
                    </div>
                    <button>Select</button>
                 </div> #}

          </div>

        </div>

       </div>

    </section>

    <section id="calendar">

      <div class="lock">

        {% set targetDate = "today" %}
        {% set expectedDate = "now"|date_modify("+3 day") %}

        {% if expectedDate|date("D") == 'Sun' %}
          {% set expectedDate = "now"|date_modify("+5 day") %}
        {% endif %}

        {% if expectedDate|date("D") == 'Mon' %}
          {% set expectedDate = "now"|date_modify("+4 day") %}
        {% endif %}

        {% if cart.deliveryDate %}
          {% set deliveryDate = cart.deliveryDate %}
        {% else %}
          {% set deliveryDate = expectedDate %}
        {% endif %}

        {% set month = craft.calendar.month({ date: targetDate }) %}
        {% set nextMonth = craft.calendar.month({ date: month.nextDate }) %}

        <div class="calendars">
          {% include "components/delivery-calendar.twig" with { 'month' : month, 'expectedDate' :  expectedDate, 'deliveryDate' :  deliveryDate } %}
          {% if expectedDate.format('d') > 20 %}
            {% include "components/delivery-calendar.twig" with { 'month' : nextMonth, 'expectedDate' :  expectedDate, 'deliveryDate' :  deliveryDate } %}
          {% endif %}
        </div>

        <div class="color-code">
          <div>
            <div class="current-delivery-date"><span></span> Current Delivery Date</div>
            <div class="delivery-date-options"><span></span> Available Delivery Dates</div>
            <div class="today-date"><span></span> Today</div>
          </div>
        </div>

      </div>

    </section>

    <section id="shipping-summary">

      <div class="lock">

        <p class="summary-method">Your current shipping method <span>{{ currentShippingMethod.name }}</span></p>
        <p class="expected-date">Your scheduled delivery date is <span>{{ deliveryDate|date("l, F d, Y") }}</span></p>
        <p class="summary-cost">Your current shipping cost <span>${{ cart.totalShippingCost | number_format(2, '.', ',') }}</span></p>

      </div>

    </section>

    <section class="action">

      <div class="lock">

        <div class="actions">
          <input type="submit" data-button="continue" value="Continue to Order Summary" class="call-to-action">
        </div>

      </div>

    </section>

  </form>

{% endblock %}
