
{% extends "_layout" %}
{% includeCssFile "/checkout.css" %}
{% includeJsFile "/summary.js" %}

{% set cart = craft.commerce.getCart %}

{% block main %}

  {% if cart.email == '' %}
    {% redirect "/account/checkout-login" 301 %}
  {% endif %}

  {% include "components/breadcrumb.twig" %}

  <form id="product-list">

    {% include "components/order-summary.twig" %}

    {% if cart.lineItems | length != 0 %}

      <section id="cart-total">

        <div class="lock">

          <div class="promo">

            <label>Promotional Code</label>
            <div>
              <input type="text" name="couponCode" value="{{ cart.couponCode }}" placeholder="Code" />
              <button class="call-to-action">{% if cart.couponCode %}Change{% else %}Apply{% endif %}</button>
              <p class="promo-error">The promotional code that you have entered code not be found</p>
            </div>

            <p class="text">If you have a promotional code, please add it for your order.</p>

          </div>

          <div class='totals'>

            <p class="acumin-tiny">
              <span class="title">Shipping</span>
              <span class="cost" data-type="shipping-amount">{{ cart.totalShippingCost | currency(cart.currency) }}</span>
            </p>

            <p class="acumin-tiny discount" {% if cart.baseDiscount %} style="display:block;" {% endif %}>
              <span class="title">Discount</span>
              <span class="cost" data-type="discount-amount">{{ cart.baseDiscount | currency(cart.currency) }}</span>
            </p>

            <p class="acumin-tiny">
              <span class="title">SubTotal</span>
              <span class="cost" data-type="items-amount">{{ cart.itemSubtotal | currency(cart.currency) }}</span>
            </p>

            <p class="acumin-tiny">
              <span class="title">Tax</span>
              <span class="cost" data-type="tax-amount">{{ cart.totalTax | commerceCurrency(cart.currency) }}</span>
            </p>

            <p class="acumin-medium-bold">
              <span class="title">Total</span>
              <span class="cost" data-type="total-amount">{{ cart.totalPrice | commerceCurrency(cart.currency, stripZeros = true) }}</span>
            </p>

          </div>

        </div>

      </section>

    {% endif %}

    {# Checkout Actions #}

    {% if cart.lineItems | length != 0 %}

      <section class="checkout-actions">

        <div class="lock">

          <a href="/checkout/" class="icons">Back <span>to Customer Information</span></a>
          <a href="/checkout/billing" class="call-to-action" data-button="continue">Continue to Billing</a>

        </div>

      </section>

    {% endif %}

  </form>

{% endblock %}
