
{% do view.registerCssFile('/labelsStyle.css') %}
{% do view.registerJsFile('/automation.js') %}
{% set orders = craft.commerce.orders.orderStatusId(4) %}

<!DOCTYPE html>
<html>

  <head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta http-equiv="X-UA-Compatible" content="IE=Edge,chrome=1">
  </head>

  <body>

    {% if currentUser %}

      {% if currentUser.admin %}

        {% set number = 0 %}

        <main>

          {% for order in orders | reverse %}

            {% for item in order.lineItems %}

              {% set variant = item.purchasable %}
              {% set product = variant.product %}
              {% set quantity = item.qty | number_format %}

              {% for i in 1..quantity %}

                {% if number == 0 %}
                  <div class="page">
                {% endif %}

                <section>

                  <div class="sticker">

                    <div class="info">

                      <h1>{{ product.title }}</h1>

                      <div class="description">
                        {{ product.productSummary }}
                      </div>

                      <div class="instructions">
                        <p>{{ product.instructions }}</p>
                      </div>

                      <div class="ingredients">
                        <h2>Ingredients:</h2>

                        {% for list in variant.ingredients %}

                          {% if not list.hide %}
                            {{ list.item }}{% if not loop.last %},{% endif %}
                          {% endif %}

                        {% endfor %}

                      </div>

                      {% if product.allergenAlert != '' %}

                        <div class="allergy">
                          <h2>ALLERGEN ALERT:</h2>
                          <p>{{ product.allergenAlert }}</p>
                        </div>

                      {% endif %}

                    </div>

                    <div class="facts">

                      {% include "components/pie-chart.twig" with { 'macros': variant.productMacros } %}

                      <div class="list">
                        <div>{{variant.title}}</div>
                        {% for row in variant.productMacros %}
                          {% if row.calories %}
                            <p>
                              <span>CALORIES:</span>
                              <span>{{ row.calories }}</span>
                            </p>
                          {% endif %}
                          {% if row.protein %}
                            <p>
                              <span>PROTEIN:</span>
                              <span>{{ row.protein }}g</span>
                            </p>
                          {% endif %}
                          {% if row.carbs %}
                            <p>
                              <span>CARBS:</span>
                              <span>{{ row.carbs }}g</span>
                            </p>
                          {% endif %}
                          {% if row.fat %}
                            <p>
                              <span>FAT:</span>
                              <span>{{ row.fat }}g</span>
                            </p>
                          {% endif %}
                        {% endfor %}
                      </div>

                    </div>

                  </div>

                </section>

                {% set number = number + 1 %}

                {% if number == 3 %}
                  {% set number = 0 %}
                  </div>
                {% endif %}

              {% endfor %}

            {% endfor %}

          {% endfor %}

        </main>

      {% endif %}

    {% endif %}

  </body>

</html>
