
{% extends "_layout" %}
{% do view.registerCssFile('/automationStyle.css') %}
{% do view.registerJsFile('/automation.js') %}
{% set bodyClass = 'with-border' %}

{% set orders = craft.commerce.orders.orderStatusId(3).order('deliveryDate desc') %}

{% block main %}

  {% if currentUser %}

    {% if currentUser.admin %}

      {% set expectedDate = "now"|date_modify("0 day") %}

      <section id="today" class="orders-automation">

        <div class="lock">

          <h1>Current Orders</h1>

          {% for order in orders | reverse %}

              {% set customer = order.shippingAddress %}

              <div class="order">

                <div class="person">
                  <h2>Order Number: {{ loop.index }}</h2>
                  <h3>Delivery Date: <br>{{ order.deliveryDate.format('l, F d, Y') }}</h3>
                  <p>{{ customer.firstName }} {{ customer.lastName }}</p>
                  <p class="method">Shippment Method : {{ order.shippingMethodHandle }}</p>
                  {% if order.shippingMethodHandle != 'pickup' %}
                    <address>
                      <p>{{ customer.address1 }}</p>
                      <p><span>{{ customer.city }},</span> <span>{{ customer.state }} </span><span>{{ customer.zipCode }}</span></p>
                    </address>
                  {% endif %}
                </div>

                <div class="food">
                  {% for item in order.lineItems %}
                    {% set variant = item.purchasable %}
                    {% set product = variant.product %}
                    <p class="food-item"
                       food-total="{{ item.qty }}"
                       {% if product.protein | length == 0 %} data-protein="Other" {% else %} data-protein="{{ product.protein[0] }}" {% endif %}
                       food-type="{{ product.title }} {{ variant.title }}">
                       {{ item.qty }} {{ product.title }} {{ variant.title }}
                     </p>
                  {% endfor %}
                </div>

              </div>

          {% endfor %}

          <div class="total">
            <h1>Totals</h1>
            <div class="category Steak">
              <h2>Steak</h2>
            </div>
            <div class="category Turkey">
              <h2>Turkey</h2>
            </div>
            <div class="category Vegan">
              <h2>Vegan</h2>
            </div>
            <div class="category Chicken">
              <h2>Chicken</h2>
            </div>
            <div class="category Other">
              <h2>Other</h2>
            </div>
          </div>

        </div>

      </section>

    {% endif %}

  {% endif %}

{% endblock %}
