{% extends "_layout" %}
{% includeCssFile "/automation.css" %}
{% includeJsFile "/automation.js" %}
{% set bodyClass = 'with-border' %}

{% set orders = craft.commerce.orders.orderStatusId(3) %}

{% block main %}

  {% if currentUser %}

    {% if currentUser.admin %}

      <section id="orders-automation">

        <div class="lock">

          {% for order in orders | reverse %}

          {% set customer = order.shippingAddress %}

          <div class="order">

            <div class="food">
              {% for item in order.lineItems %}
                {% set variant = item.purchasable %}
                {% set product = variant.product %}
                <p class="food-item" food-total="{{ item.qty }}" food-type="{{ product.title }} {{ variant.title }}">{{ item.qty }} {{ product.title }} {{ variant.title }}</p>
              {% endfor %}
            </div>

            <div class="person">
              <h1>Order Number: {{ loop.index }}</h1>
              <p>{{ customer.firstName }} {{ customer.lastName }}</p>
              <p class="method">Shippment Method : {{ order.shippingMethodHandle }}</p>
              {% if order.shippingMethodHandle != 'pickup' %}
                <address>
                  <p>{{ customer.address1 }}</p>
                  <p><span>{{ customer.city }},</span> <span>{{ customer.state }} </span><span>{{ customer.zipCode }}</span>
                </address>
              {% endif %}
            </div>
          </div>

          {% endfor %}

          <div class="total">

            <h1>Totals</h1>

          </div>

        </div>

      </section>

    {% endif %}

  {% endif %}

{% endblock %}
