
{% do view.registerCssFile('/automationSummaryStyle.css') %}
{% set orders = craft.commerce.orders.orderStatusId(4) %}

<!DOCTYPE html>
<html>

  <head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta http-equiv="X-UA-Compatible" content="IE=Edge,chrome=1">
  </head>

  <body>

    {% if currentUser %}

      {% if currentUser.admin %}

        {% set number = 0 %}

        <main>

          {% for order in orders | reverse %}

            <div class="page">

              <section id="order-summary">

                <img src="/images/logo/green.svg" />

                <div class="wrapper">
                  <div>

                    <h1 class="name">{{ order.shippingAddress.firstName }} {{ order.shippingAddress.lastName }}, Thank you for your order!</h1>
                    <h2>In the box you will find:</h2>

                    <div class="items">

                      {% for item in order.lineItems %}

                        {% set variant = item.purchasable %}
                        {% set product = variant.product %}
                        {% set quantity = item.qty | number_format %}

                        <p><span class="quantity">{{ quantity }}</span> {{ product.title }} <span class="size">{{ variant.title }}</span></p>

                      {% endfor %}

                    </div>

                  </div>
                </div>

              </section>

            </div>

            {% endfor %}

        </main>

      {% endif %}

    {% endif %}

  </body>

</html>
