
{% extends "_layout" %}
{% includeCssFile "/homepage.css" %}
{% includeJsFile "/shopselection.js" %}
{% set categories = craft.categories.group('protein') %}

{% block main %}

  <section id="stage">
    <div class="image"></div>
    <div class="lock">
      <div>
        <div>
          <h1 class="acumin-stage">
            <span>Freshly Prepared</span>
            <p>Healthy Meals</p>
            <span>Delivered to you</span></h1>
        </div>
      </div>
    </div>
  </section>

  <section id="meals-by-category">

    <div class="lock">

      {# <div class="meal-controller">

        <div>

          <div class="proteins">
            <p class="acumin-tiny label">Types of Protein</p>

            <form id="checkbox" class="checkbox-options">

              {% for cat in craft.categories.group('protein') %}

                <div class="checkbox-field">
                  <input type="checkbox" id="{{ cat }}" name="{{ cat }}" value="{{ cat }}">
                  <label for="{{ cat }}">{{ cat }}</label>
                </div>

              {% endfor %}

            </form>

          </div>

        </div>

      </div> #}

      <div class="meal-list">

        {% for category in categories %}

          {% set entries = craft.commerce.products.relatedTo(category) %}

          {% if entries|length > 0 %}

            <div>

              <h2 class="category-headline {{ category.slug }}">
                <span class="headline">{{ category.title }}</span>
                <span>{{ category.plainText }}</span>
              </h2>

              <div class="enteries-group">

                {% for product in entries %}

                  {% if product.productImage|length > 0 %}
                    {% set image = product.productImage[0].url %}
                  {% else %}
                    {% set image = '/images/products/placeholder-circle.png' %}
                  {% endif %}

                  <div class="meal-entry" data-protein="{% for cat in product.protein %}{{ cat }}{% endfor %}">

                    <a href="/shop/details/{{ product.slug }}" class="meal-detail">
                      <img src="{{ image }}" alt="image of {{ product.title}} {{ product.subTitle }}" />

                      <div class="overlay">
                        <p class="meal-title"><span>{{ product.title }}</span> </p>
                        <p>See Details</p>
                      </div>
                    </a>

                  </div>

                {% endfor %}

              </div>

            </div>

          {% endif %}

        {% endfor %}

      </div>

    </div>

  </section>

{% endblock %}
