
{% extends "_layout" %}
{% includeCssFile "/homepage.css" %}
{% includeJsFile "/homepage.js" %}
{% set categories = craft.categories.group('protein') %}

{% block main %}

  <section id="stage">
    <div class="bg-wrap">
      <div class="image"></div>
    </div>
    <div class="lock">
      <div>
        <div>
          <h1 class="acumin-stage">
            <span>Freshly Prepared</span>
            <p>Healthy Meals</p>
            <span>Delivered to you</span></h1>
        </div>
      </div>
    </div>
  </section>

  <div class="top-layer-wrapper">

    <section id="page-navigation">
      <div>
        <a href="/shop/quick-order"><div>Quick <span>Order Form</span></div></a>
        <a href="/pages/macros"><div>What Are <span>Macronutrients</span></div></a>
        <a href="/pages/about"><div>About <span>Macro Meals</span></div></a>
      </div>
    </section>

    <section id="delivery">
      <div class="lock">
        <img src="/images/icons/delivery-truck-green.svg" />
        <p>$10 shipping for $50 orders for most for most of north east.</p>
        <button class="show-shipping-modal">Get a quote for your zip code</button>
      </div>
    </section>

    <section id="meals-by-category">

      <div class="meals-controller">

        <div class="lock">

          <form id="checkbox" class="checkbox-options">

            <p>Filter Meals by the Type of Protein</p>

            <div>

              {% for cat in craft.categories.group('protein') %}

                {% set entries = craft.commerce.products.relatedTo(cat) %}

                {% if entries | length > 0 %}

                  <label for="{{ cat }}">
                    <input type="checkbox" id="{{ cat }}" name="{{ cat }}" value="{{ cat }}">
                    <span>{{ cat }}</span>
                  </label>

                {% endif %}

              {% endfor %}

            </div>

          </form>

        </div>

      </div>

      <div class="meal-list">

        <div class="lock">

          {% for category in categories %}

            {% set entries = craft.commerce.products.relatedTo(category) %}

            {% if entries|length > 0 %}

              <div>

                <h2 class="category-headline {{ category.slug }}">
                  <span class="headline">{{ category.title }}</span>
                  <span>{{ category.plainText }}</span>
                </h2>

                <div class="enteries-group" data-category-id="{{ category.id }}">

                </div>

              </div>

            {% endif %}

          {% endfor %}

        </div>

      </div>

    </section>

  </div>

  <div class="shipping-modal" aria-hidden="true">

    <form id="shipping-calculator">

      <button class="ion-close"></button>
      <div class="loader"></div>

      <p>Please enter your shipping zip code for an estimated shipping cost.</p>

      <div class="field" data-required="true" valid="false">
        <label for="zipCode"><span>Zip Code</span></label>
        <div class="input">
          <input type="number"
                 name="zipCode"
                 id="zipCode"
                 placeholder=""
                 maxlength="5" />

          <div class="errors">
            <p class="required">Zip Code is a required field</p>
          </div>
        </div>
      </div>

      <input type="submit" value="Get Estimate" />
      <div class="result"></div>

    </form>

  </div>

{% endblock %}
