
{% includeCssFile "/labels.css" %}
{% includeJsFile "/labels.js" %}

{% set count = [1, 2, 3, 4] %}
{% set productSlug = craft.request.getSegment(2) %}
{% set variantSlug = craft.request.getSegment(3) %}
{% set admins = craft.users.admin('1') %}

<!DOCTYPE html>
<html>

  <head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta http-equiv="X-UA-Compatible" content="IE=Edge,chrome=1">
  </head>

  <body>

    {% if currentUser %}

      {% if currentUser.admin %}

        <main>

          {% for item in count %}

            {% for product in craft.commerce.products.slug(productSlug) %}

              <section>

                <div class="info">

                  <img src="/images/logo/green.svg" class="logo" alt="image of the macro meals logo" />

                  <div class="description">

                    <h1>{{ product.title }} <span>{{ product.subTitle }}</span></h1>

                    <div class="ingredients">
                      <h3>Ingredients</h3>

                      {% for purchasable in product.variants %}

                        {% if purchasable.sku == variantSlug %}

                          {% for list in purchasable.ingredients %}

                            {% if not list.hide %}
                              {{ list.item }}{% if not loop.last %},{% endif %}
                            {% endif %}

                          {% endfor %}

                        {% endif %}

                      {% endfor %}

                    </div>

                    <div class="instructions">
                      <h3>Instructions</h3>
                      <p>{{ product.instructions }}</p>
                    </div>

                    <div class="alerts">

                      <div>
                        <p class="headline">Enjoy By</p>
                        {% if product.expirationDate %}
                          <p>{{ product.expirationDate.format('m/d/y') }}</p>
                        {% endif %}
                      </div>

                      <div>
                        <p class="headline">ALLERGEN ALERT</p>
                        <p>{{ product.allergenAlert }}</p>
                      </div>

                    </div>

                  </div>

                  <div class="connect">
                    <h4>Connect With Us</h4>
                    <p>http://macromeals.life</p>
                  </div>

                </div>

                <div class="facts">

                    <div class="list">

                      <h2>NUTRITION FACTS</h2>

                      {% for purchasable in product.variants %}

                        {% if purchasable.sku == variantSlug %}

                          <div>
                            {% for row in purchasable.productMacros %}
                              {% if row.calories %}
                                <p class="nimbus-tiny-bold"><span>CALORIES:</span> {{ row.calories }}</p>
                              {% else %}
                                <p>The calories are not entered in the CMS</p>
                              {% endif %}
                              {% if row.protein %}
                                <p class="nimbus-tiny-bold protein"><span>PROTEIN:</span> {{ row.protein }}g</p>
                              {% else %}
                                <p>The Protein are not entered in the CMS</p>
                              {% endif %}
                              {% if row.carbs %}
                                <p class="nimbus-tiny-bold carbs"><span>CARBS:</span> {{ row.carbs }}g</p>
                              {% else %}
                                <p>The Carbs are not entered in the CMS</p>
                              {% endif %}
                              {% if row.fat %}
                                <p class="nimbus-tiny-bold fat"><span>FAT:</span> {{ row.fat }}g</p>
                              {% else %}
                                <p>The Fat are not entered in the CMS</p>
                              {% endif %}
                            {% endfor %}


                          </div>

                          {% include "components/pie-chart.twig" with { 'macros': purchasable.productMacros } %}

                        {% endif %}

                      {% endfor %}

                    </div>

                </div>

              </section>

            {% endfor %}

          {% endfor %}

        </main>

      {% endif %}

    {% endif %}

  </body>

</html>
