
{% extends "_layout" %}
{% includeCssFile "/shopdetails.css" %}
{% includeJsFile "/shopdetails.js" %}

{% block main %}

  {% for product in craft.commerce.products.slug(craft.request().lastSegment()) %}

    <section id="stage" class="slim-stage">
      <div class="image"></div>
      <div class="lock">
        <h1 class="acumin-stage"><div>{{ product.title }}<span> {{ product.subTitle }}</span></div></h1>
      </div>
    </section>

    {% if product.productImage|length > 0 %}
      {% set image = product.productImage[0].url %}
    {% else %}
      {% set image = '/images/products/placeholder.jpg' %}
    {% endif %}

    <section>

      <div class="lock">

        <div class="flex-wrapper">

          <div class="product-details">

            <div class="product-image">
              <img src="{{ image }}" alt="image of {{ product.title}} {{ product.subTitle }}" />
            </div>

            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut id varius arcu. Nunc mollis, velit at tempus commodo, mauris lorem aliquet massa, in feugiat augue magna quis velit. In vestibulum nibh vitae dui lacinia lacinia. Donec nec est tincidunt, tempus lorem eget, viverra est..</p>

            <div class="info">

              <div class="facts">

                {% for row in product.productMacros %}
                  {% if row.calories %}<p class="acumin-small"><span>CALORIES:</span> {{ row.calories }}</p>{% endif %}
                  {% if row.protein %}<p class="acumin-small protein"><span>PROTEIN:</span> {{ row.protein }}g</p>{% endif %}
                  {% if row.carbs %}<p class="acumin-small carbs"><span>CARBS:</span> {{ row.carbs }}g</p>{% endif %}
                  {% if row.fat %}<p class="acumin-small fat"><span>FAT:</span> {{ row.fat }}g</p>{% endif %}
                {% endfor %}
              </div>

              {% include "components/pie-chart.twig" with { 'macros': product.productMacros } %}

            </div>

            <div class="full-facts">

              <h2 class="acumin-medium">Full Nutrition Totals</h2>

              <table>

                <thead>

                  <th>Item</th>
                  <th>Calories</th>
                  <th>Protein</th>
                  <th>Carbs</th>
                  <th>Fat</th>

                </thead>

                <tbody>

                  {% for row in product.ingredients %}
                    <tr>
                      <td>{{ row.item }}</td>
                      <td>{{ row.calories }}</td>
                      <td>{{ row.protein }}g</td>
                      <td>{{ row.carbs }}g</td>
                      <td>{{ row.fat }}g</td>
                    </tr>

                  {% endfor %}

                </tbody>

              </table>

            </div>


          </div>

          <div class="actions">

            <div>

              <h2 class="acumin-medium-bold">Add to Cart</h2>

              <form>

                <div class="options">

                  {% for purchasable in product.variants %}

                    <div class="list">

                      <div>
                        <span class="size">{{ purchasable.description }}</span>
                        <span class="price">${{ purchasable.salePrice }}</span>
                      </div>

                      <div>
                        <label>Quanity</label>
                        <input type="number" value="0" />
                      </div>

                    </div>

                  {% endfor %}

                </div>

              </form>

            </div>

          </div>

        </div>

      </div>

    </section>

  {% endfor %}

{% endblock %}
