
{% extends "_layout" %}
{% do view.registerCssFile('/shopdetailsStyle.css') %}
{% do view.registerJsFile('/shopdetails.js') %}

{# {% do craft.sproutSeo.meta({
  section: 'commerce_products:meals',
  title: product.title,
  description: product.productSummary|striptags|slice(0, 150),
}) %} #}

{% block main %}

  <script type="text/javascript">
    window.csrfTokenName = "{{ craft.config.csrfTokenName|e('js') }}";
    window.csrfTokenValue = "{{ craft.request.csrfToken|e('js') }}";
  </script>

  {% for product in craft.products.slug(craft.request().lastSegment()) %}

    <section id="stage" class="slim-stage">
      <div class="image"></div>
      <div class="lock">
        <h1><div>{{ product.title }}<span> {{ product.subTitle }}</span></div></h1>
      </div>
    </section>

    <section id="product-details">

      {% if product.productImage|length > 0 %}
        {% set image = product.productImage[0].url %}
      {% else %}
        {% set image = '/images/products/placeholder.jpg' %}
      {% endif %}

      <div class="lock">

        <div>
          <h1 class="acumin-medium sr-only">Product Summary</h1>

          <div class="intro-wrapper">

            {% if product.productSummary %}
              <div class="summary">
                <p>{{ product.productSummary }}</p>
                <button class="call-to-action" data-action="scroll-to-form">See purchase options</button>
              </div>
            {% endif %}

            <div class="product-image">
              <img src="{{ image }}" alt="image of {{ product.title}} {{ product.subTitle }}" />
            </div>

          </div>

          <h2 class="nutrition-headline">Nutrition Totals</h2>

          <div class="fact-info">

            <div data-count="{{ product.variants | length }}">

              {% for purchasable in product.variants %}

                <div>
                  <h3>{{ purchasable.title }}</h3>

                  <div class="facts">
                    {% for row in purchasable.productMacros %}
                      {% if row.calories %}<p class="acumin-small"><span>CALORIES:</span> {{ row.calories }}</p>{% endif %}
                      {% if row.protein %}<p class="acumin-small protein"><span>PROTEIN:</span> {{ row.protein }}g</p>{% endif %}
                      {% if row.carbs %}<p class="acumin-small carbs"><span>CARBS:</span> {{ row.carbs }}g</p>{% endif %}
                      {% if row.fat %}<p class="acumin-small fat"><span>FAT:</span> {{ row.fat }}g</p>{% endif %}
                    {% endfor %}
                  </div>

                  {% include "components/pie-chart.twig" with { 'macros': purchasable.productMacros } %}

                </div>

              {% endfor %}

            </div>

          </div>

        </div>

      </div>

    </section>

    <section id="product-actions">

      <div class="lock">

        <div class="form-text">

          <h1>Add {{ product.title }}<span>To Your Cart</span></h1>
          </ul>

        </div>

        <div class="form-actions">

          <form method="POST" id="product-addition">

            {% for purchasable in product.variants %}

              <div class="variant-row input-container">
                <div class="flex">

                  <input type="hidden" name="qty" value="0">
                  <input type="hidden" name="purchasableId" value="{{ purchasable.purchasableId }}">
                  <div class="size">{{ purchasable.description }}</div>
                  <div class="price">
                    {% if purchasable.salesApplied | length > 0 %}
                      <div class="sale-price"><span>{{ purchasable.price | commerceCurrency(cart.currency) }}</span></div>
                    {% endif %}
                    <span>{{ purchasable.salePrice | commerceCurrency(cart.currency) }}</span>
                  </div>

                  <div class="quantity increment field" valid="true">
                    <button class="icons minus"></button>
                    <div class="input">
                      <input type="number"
                             pattern="\d*"
                             value="0"
                             data-id="{{ purchasable.purchasableId }}"
                             data-name="{{ product.title }}"
                             data-cost="{{ purchasable.price }}"
                             data-size="{{ purchasable.description }}"
                             validation="checkForNumber" />
                    </div>
                    <button class="icons plus"></button>
                  </div>
                </div>

                {% include "components/stock-error.twig" %}

              </div>

            {% endfor %}

            <div class="summary">
              <div class="variant-row">
                <div class="flex">
                  <p class="acumin-small-bold">Total</p>
                  <p class="acumin-small-bold quantity" data-total="price">$0.00</p>
                </div>
              </div>
              <input type="submit" value="Add To Cart" disabled />
            </div>

          </form>

        </div>

      </div>

    </section>

    <section id="post-submission">

      <div class="lock">

        <div>
          <p class="order"></p>
          <p>Ready to checkout now?</p>
          <a href="/checkout" class="call-to-action">Checkout Now</a>
          <p>Want to see more meals?</p>
          <a href="/shop" class="call-to-action">View More Meals</a>
        </div>

      </div>

    </section>

  {% endfor %}

{% endblock %}
