
{% extends "_layout" %}
{% includeCssFile "/shopdetails.css" %}
{% includeJsFile "/shopdetails.js" %}

{% block main %}

  {% for product in craft.commerce.products.slug(craft.request().lastSegment()) %}

    <section id="stage" class="slim-stage">
      <div class="image"></div>
      <div class="lock">
        <h1 class="nimbus-stage"><div>{{ product.title }}<span> {{ product.subTitle }}</span></div></h1>
      </div>
    </section>

    {% if product.productImage|length > 0 %}
      {% set image = product.productImage[0].url %}
    {% else %}
      {% set image = '/images/products/placeholder.jpg' %}
    {% endif %}

    <section>

      <div class="lock">

        <div class="flex-wrapper">

          <div class="checkout-summary">

            <div>

            </div>

          </div>

          <div class="entry">

            <div class="assets">

              <div class="product-image">
                <img src="{{ image }}" alt="image of {{ product.title}} {{ product.subTitle }}" />
              </div>

              <div>
                {% include "components/pie-chart.twig" with { 'macros': product.productMacros } %}
              </div>

            </div>

            <div class="info">

              <div class="facts">

                {% for row in product.productMacros %}
                  {% if row.calories %}<p class="nimbus-tiny-bold"><span>Calories:</span> {{ row.calories }}</p>{% endif %}
                  {% if row.protein %}<p class="nimbus-tiny-bold"><span>Protein:</span> {{ row.protein }}</p>{% endif %}
                  {% if row.carbs %}<p class="nimbus-tiny-bold"><span>Carbs:</span> {{ row.carbs }}</p>{% endif %}
                  {% if row.fat %}<p class="nimbus-tiny-bold"><span>Fat:</span> {{ row.fat }}</p>{% endif %}
                {% endfor %}
              </div>

            </div>

          </div>

        </div>

      </div>

    </section>

  {% endfor %}

{% endblock %}
