
{% extends "_layout" %}
{% includeCssFile "/shopdetails.css" %}
{% includeJsFile "/shopdetails.js" %}

{% block main %}

  <script type="text/javascript">
    window.csrfTokenName = "{{ craft.config.csrfTokenName|e('js') }}";
    window.csrfTokenValue = "{{ craft.request.csrfToken|e('js') }}";
  </script>

  {% for product in craft.commerce.products.slug(craft.request().lastSegment()) %}

    <section id="stage" class="slim-stage">
      <div class="image"></div>
      <div class="lock">
        <h1 class="acumin-stage"><div>{{ product.title }}<span> {{ product.subTitle }}</span></div></h1>
      </div>
    </section>

    {% if product.productImage|length > 0 %}
      {% set image = product.productImage[0].url %}
    {% else %}
      {% set image = '/images/products/placeholder.jpg' %}
    {% endif %}

    <section id="details">

      <div class="lock">

        <div class="flex-wrapper">

          <div class="product-actions">

            <div>

              <form method="POST" id="fixed-form">

                <div class="row-columns descriptions">

                  <div class="flex">
                    <div class="size">Size</div>
                    <div class="price">Price</div>
                    <div class="quantity">Quantity</div>
                  </div>

                </div>

                <div>

                  <div class="options">

                    {% for purchasable in product.variants %}

                      <div class="list">

                        <div class="row-columns">

                          <div class="flex">

                            <input type="hidden" name="qty" value="0">
                            <input type="hidden" name="purchasableId" value="{{ purchasable.purchasableId }}">
                            <div class="size">{{ purchasable.description }}</div>
                            <div class="price">${{ purchasable.salePrice }}</div>
                            <div class="quantity">
                              <input type="number" pattern="\d*" value="0" data-id="{{ purchasable.purchasableId }}" />
                            </div>

                          </div>

                          <div class="errors">
                            <p class="stock">The quantity that you have requested is not available.  The maximum number that you may purchase at this time is <span></span>.</p>
                          </div>

                        </div>

                      </div>

                    {% endfor %}

                  </div>

                  <div class="summary">

                    <div class="row-columns">
                      <div class="flex">
                        <p class="acumin-small-bold">Total</p>
                        <p class="acumin-small-bold quantity" data-total="price"></p>
                      </div>
                    </div>

                    <input type="submit" value="Add To Cart" />

                  </div>

                </div>

              </form>

            </div>

          </div>


          <div class="product-details">

            {% if product.productSummary %}
              <p>{{ product.productSummary }}</p>
            {% endif %}

            <div class="product-image">
              <img src="{{ image }}" alt="image of {{ product.title}} {{ product.subTitle }}" />
            </div>

            <h2 class="acumin-medium">Full Nutrition Totals</h2>

            <div class="fact-tab">

              <div class="controller">
                {% for purchasable in product.variants %}
                  <button class="{% if purchasable.isDefault %} active-button {% endif %}">{{ purchasable.title }}</button>
                {% endfor %}
              </div>

              {% for purchasable in product.variants %}

                <div class="fact-info {% if purchasable.isDefault %} active-info {% endif %}" data-type="{{ purchasable.title }}">

                  <div class="facts">

                    <div>

                      {% for row in purchasable.productMacros %}
                        {% if row.calories %}<p class="acumin-small"><span>CALORIES:</span> {{ row.calories }}</p>{% endif %}
                        {% if row.protein %}<p class="acumin-small protein"><span>PROTEIN:</span> {{ row.protein }}g</p>{% endif %}
                        {% if row.carbs %}<p class="acumin-small carbs"><span>CARBS:</span> {{ row.carbs }}g</p>{% endif %}
                        {% if row.fat %}<p class="acumin-small fat"><span>FAT:</span> {{ row.fat }}g</p>{% endif %}
                      {% endfor %}
                    </div>

                    {% include "components/pie-chart.twig" with { 'macros': product.productMacros } %}

                  </div>

                  <div class="full-facts">

                    <div class="table-head">
                      <div>Item</div>
                      <div>Calories</div>
                      <div>Protein</div>
                      <div>Carbs</div>
                      <div>Fat</div>
                    </div>

                    {% for row in purchasable.ingredients %}
                      <div class="table-row">
                        <div data-attr="Item"><span>{{ row.item }}</span></div>
                        <div data-attr="Calories">{{ row.calories }}</div>
                        <div data-attr="Protein">{{ row.protein }}g</div>
                        <div data-attr="Carbs">{{ row.carbs }}g</div>
                        <div data-attr="Fat">{{ row.fat }}g</div>
                      </div>
                    {% endfor %}

                  </div>

                </div>

              {% endfor %}

            </div>

          </div>

        </div>

      </div>

    </section>

  {% endfor %}

{% endblock %}
