
{% extends "_layout" %}
{% includeCssFile "/meals.css" %}
{% includeJsFile "/meals.js" %}
{% set categories = craft.categories.group('protein') %}

{% block main %}

  <section id="stage" class="slim-stage">
    <div class="image"></div>
    <div class="lock">
      <h1 class="acumin-stage"><div>Meals</div></h1>
    </div>
  </section>

  <div class="top-layer-wrapper">

    <section class="meals-by-category">

      <div class="meals-controller">

        <div class="lock">

          <form id="checkbox" class="checkbox-options">

            <p>Filter Meals by the Type of Protein</p>

            <div>

              {% for cat in craft.categories.group('protein') %}

                {% set entries = craft.commerce.products.relatedTo(cat) %}

                {% if entries | length > 0 %}

                  <label for="{{ cat }}">
                    <input type="checkbox" id="{{ cat }}" name="{{ cat }}" value="{{ cat }}">
                    <span>{{ cat }}</span>
                  </label>

                {% endif %}

              {% endfor %}

            </div>

          </form>

        </div>

      </div>

      <div class="meal-list">

        <div class="lock">

          {% for category in categories %}

            {% set entries = craft.commerce.products.relatedTo(category) %}

            {% if entries|length > 0 %}

              <div>

                <h2 class="headline-with-underline {{ category.slug }}">{{ category.title }}</h2>
                <p>{{ category.plainText }}</p>

                <div class="enteries-group" data-category-id="{{ category.id }}">

                </div>

              </div>

            {% endif %}

          {% endfor %}

        </div>

      </div>

    </section>

  </div>

{% endblock %}
