
{% extends "_layout" %}
{% do view.registerCssFile('/mealsStyle.css') %}
{% do view.registerJsFile('/meals.js') %}
{% set mealTypes = craft.categories.group('mealCategory') %}

{% block main %}

  <section id="stage" class="slim-stage">
    <div class="image"></div>
    <div class="lock">
      <h1><div>Meals</div></h1>
    </div>
  </section>

  <div class="top-layer-wrapper">

    <section class="meals-by-category">

      <div class="meals-controller">

        <div class="lock">

          <form id="checkbox" class="checkbox-options">

            <h1>Filter By</h1>

            <div class="filters">

              {% set options = {
                  types: { text: 'Meal Type', cat: 'mealCategory', cssClass: 'types'},
                  protein: { text: 'Protein', cat: 'protein', cssClass: 'protein'},
                }
              %}

              {% macro filters(options) %}

                {% for option in options %}

                  <div class="{{ option.cssClass }}">

                    <p>{{ option.text }}</p>
                    <div class="filter-cats">

                      {% for cat in craft.categories.group( option.cat ) %}

                        {% set entries = craft.products.relatedTo( cat ) %}

                        {% if entries | length > 0 %}

                          <div>

                            <label for="{{ cat }}">
                              <input type="checkbox" id="{{ cat }}" name="{{ cat }}" value="{{ cat.slug }}" checked disabled>
                              <span>{{ cat }}</span>
                            </label>

                          </div>

                        {% endif %}

                      {% endfor %}

                    </div>

                  </div>

                {% endfor %}

              {% endmacro %}

              {% import _self as macros %}
              {{ macros.filters(options) }}

            </div>

          </form>

        </div>

      </div>

      <div class="meals">

        <div class="lock">

          {% for category in mealTypes %}

            {% set entries = craft.products.relatedTo(category) %}

            {% if entries|length > 0 %}

              <div class="meal-group" data-group="{{ category.slug }}" aria-hidden="false">
                <div class="loader"></div>

                <div class="meal-list">

                  <h2 class="headline-with-underline {{ category.slug }}">{{ category.title }}</h2>
                  <p class="no-entries">No entries are available for you sort settings.</p>

                  <div class="entries-group" data-category-id="{{ category.id }}">

                  </div>

                </div>

              </div>

            {% endif %}

          {% endfor %}

        </div>

      </div>

    </section>

  </div>

{% endblock %}
