
{% extends "_layout" %}
{% includeCssFile "/shop.css" %}
{% includeJsFile "/shopselection.js" %}

{% block main %}

  <section id="stage" class="slim-stage">
    <div class="image"></div>
    <div class="lock">
      <h1 class="nimbus-stage"><div>Meals</div></h1>
    </div>
  </section>

  {% include "components/notice.twig" %}

  <section>

    <div class="lock">

      <div class="meal-controller">

        <div>

          <div class="proteins">
            <p class="nimbus-tiny label">Types of Protein</p>

            <form id="checkbox" class="checkbox-options">

              {% for cat in craft.categories.group('protein') %}

                <div class="checkbox-field">
                  <input type="checkbox" id="{{ cat }}" name="{{ cat }}" value="{{ cat }}">
                  <label for="{{ cat }}">{{ cat }}</label>
                </div>

              {% endfor %}

            </form>

          </div>

        </div>

      </div>

      <div class="meal-list">

        {% for product in craft.commerce.products %}

          {% if product.productImage|length > 0 %}
            {% set image = product.productImage[0].url %}
          {% else %}
            {% set image = '/images/products/placeholder.jpg' %}
          {% endif %}

          <div class="entry" data-protein="{% for cat in product.protein %}{{ cat }}{% endfor %}">
            <div class="image">
              <img src="{{ image }}" alt="image of {{ product.title}} {{ product.subTitle }}" />

              {% include "components/pie-chart.twig" with { 'macros': product.productMacros } %}

            </div>

            <div class="product-details">
              <h2 class="nimbus-small-bold">{{ product.title}}<span> {{ product.subTitle }}</span></h2>
              {% for purchasable in product.variants %}
                <p class="nimbus-tiny-bold"> ${{ purchasable.salePrice }}</p>
              {% endfor %}
            </div>

            <a href="/shop/details/{{ product.slug }}" class="call-to-action details-button">View Details</a>

            <div class="cart-additions">
              <div class="add-small">
                <button>Add 16oz</button>
                <input type="text" value="1" />
              </div>
              <div class="add-large">
                <button>Add 24oz</button>
                <input type="text" value="1" />
              </div>
            </div>


          </div>

        {% endfor %}

      </div>

    </div>

  </section>

{% endblock %}
