
{% extends "_layout" %}
{% includeCssFile "/shop.css" %}
{% includeJsFile "/shopselection.js" %}

{% block main %}

  <section id="stage" class="slim-stage">
    <div class="image"></div>
    <div class="lock">
      <h1 class="acumin-stage"><div>Meals</div></h1>
    </div>
  </section>

  {% include "components/notice.twig" %}

  <section>

    <div class="lock">

      <div class="meal-controller">

        <div>

          <div class="proteins">
            <p class="acumin-tiny label">Types of Protein</p>

            <form id="checkbox" class="checkbox-options">

              {% for cat in craft.categories.group('protein') %}

                <div class="checkbox-field">
                  <input type="checkbox" id="{{ cat }}" name="{{ cat }}" value="{{ cat }}">
                  <label for="{{ cat }}">{{ cat }}</label>
                </div>

              {% endfor %}

            </form>

          </div>

        </div>

      </div>

      <div class="meal-list">

        {% for product in craft.commerce.products %}

          {% if product.productImage|length > 0 %}
            {% set image = product.productImage[0].url %}
          {% else %}
            {% set image = '/images/products/placeholder.jpg' %}
          {% endif %}

          <div class="meal-entry" data-protein="{% for cat in product.protein %}{{ cat }}{% endfor %}">

            <a href="/shop/details/{{ product.slug }}" class="meal-detail">
              <img src="{{ image }}" alt="image of {{ product.title}} {{ product.subTitle }}" />

              <div class="overlay">
                <div>
                  <p>View</p>
                  <p class="meal-title"><span>{{ product.title }}</span> </p>
                  <p>Details</p>
                </div>
              </div>

              <p class="meal-more">See More</p>
            </a>

            <div class="cart-additions">

              {% for purchasable in product.variants %}

                <div class="add-{{ purchasable.description }}">
                  <button><span class="size">Add {{ purchasable.description }}</span> <span class="price">${{ purchasable.salePrice }}</span></button>
                </div>
              {% endfor %}

            </div>

          </div>

        {% endfor %}

      </div>

    </div>

  </section>

{% endblock %}
