
{% extends "_layout" %}
{% do view.registerCssFile('/orderStyle.css') %}
{% do view.registerJsFile('/order.js') %}
{% set mealTypes = craft.categories.group('mealCategory') %}

{% block main %}

  <section id="stage" class="slim-stage">
    <div class="image"></div>
    <div class="lock">
      <h1><div>Quick Order</div></h1>
    </div>
  </section>

  <form method="POST" id="product-addition" data-redirect="checkout">

    <div class="lock">
      <p class=disclaimer-text>All items in your cart are listed for your convenience.</p>
    </div>

    <section id="order-form">

      <div class="lock">

        <div id="category-group" class="order-category-groups flex-descriptions">

          <h1 class="sr-only"><span>Healthy Meals Delivered to You</span></h1>

          {% for category in mealTypes.all %}

            {% set entries = craft.products.relatedTo(category).orderBy('title') %}

            {% if entries|length > 0 %}

              <div class="cat-group">

              </div>

              <h2 class="category-headline"><span>{{ category.title }}</span></h2>

              <div class="group-body">

                {% for product in entries.all %}

                  <div class="product input-container">

                    <h2 class="title">
                      <span class="acumin-small-bold">{{ product.title }}</span>
                      <a href="/shop/details/{{ product.slug }}">See Details</a>
                    </h2>

                    {% for purchasable in product.variants %}

                      <div class="variant-row">
                        <input type="hidden" name="qty" value="0">
                        <input type="hidden" name="purchasableId" value="{{ purchasable.id }}">

                        <div class="variant-info">
                          <div class="option">{{ purchasable.description }}</div>
                          <div class="price">
                            {% if purchasable.sales | length > 0 %}
                              <div class="sale-price">{{ purchasable.price | commerceCurrency(cart.currency) }}</div>
                            {% endif %}
                            <span>{{ purchasable.salePrice | commerceCurrency(cart.currency) }}</span>
                          </div>
                        </div>

                        {% set inputValue = 0 %}
                        {% set lineItemNumber = null %}
                        {% for item in cart.lineItems %}
                          {% if item.purchasableId == purchasable.id %}
                            {% set inputValue = item.qty %}
                            {% set lineItemNumber = item.id %}
                          {% endif %}
                        {% endfor %}

                        <div class="quantity increment field" valid="true">
                          <button class="icons minus"></button>
                          <div class="input">
                            <input type="number"
                                   pattern="\d*"
                                   value="{{ inputValue }}"
                                   {% if lineItemNumber is not null %}
                                   data-item-id="{{ lineItemNumber }}"
                                   {% endif %}
                                   data-id="{{ purchasable.id }}"
                                   data-cost="{{ purchasable.price }}"
                                   data-size="{{ purchasable.description }}"
                                   data-title="{{ product.title }}"
                                   validation="checkForNumber" />
                          </div>
                          <button class="icons plus"></button>
                        </div>

                      </div>
                    {% endfor %}

                    <div class="addition-text">
                      <span>1 Medium and 2 Large</span> Autumn Flavor meals has been added to your cart
                    </div>

                   {% include "components/stock-error.twig" %}

                  </div>

                {% endfor %}

              </div>

            {% endif %}

          {% endfor %}

        </div>

        <div class="fixed-checkout-wrapper">
          <a href="/checkout" class="ready-to-checkout">Ready to Checkout?</a>
        </div>

      </div>

    </section>

  </form>

{% endblock %}
