
{% extends "_layout" %}
{% includeCssFile "/quickorder.css" %}
{% includeJsFile "/quickorder.js" %}

{% block main %}

  <section id="stage" class="slim-stage">
    <div class="image"></div>
    <div class="lock">
      <h1 class="acumin-stage"><div>Quick Order</div></h1>
    </div>
  </section>

  <section id="order-form">

    <div class="lock">

      <form method="POST" id="product-addition" data-redirect="checkout">

        <div class="flex-wrapper">

          <div class="flex-actions">

            <div class="summary">

              <div class="fixed-wrapper">

                <h1>
                  <span class="with-items">Items you have selected</span>
                  <span class="without-items">Select Items to be added to cart</span>
                </h1>
                <p class="no-items">No items have been added</p>
                <div class="items"></div>
                <div class="actions">
                  <p class="acumin-small-bold" data-total="price"></p>
                  <input type="submit" value="Add to Cart & Checkout" />
                </div>

              </div>

            </div>

          </div>

          <div id="category-group" class="flex-descriptions">

            <h2 class="category-headline">
              <span>Lunch & Dinner</span>
            </h2>

            <div class="group-body">

              {% for product in craft.commerce.products.order('title') %}

                  <div class="product input-container">

                  <h3 class="title">
                    <span class="acumin-small-bold">{{ product.title }}</span>
                    <a href="/shop/details/{{ product.slug }}">See Details</a>
                  </h3>

                  {% for variant in product.variants %}
                    <div class="variant-row">
                      <input type="hidden" name="qty" value="0">
                      <input type="hidden" name="purchasableId" value="{{ variant.purchasableId }}">
                      <div class="option">{{ variant.description }}</div>
                      <div class="price">
                        {% if variant.salesApplied | length > 0 %}
                          <div class="sale-price">{{ variant.price | commerceCurrency(cart.currency) }}</div>
                        {% endif %}
                        <span>{{ variant.salePrice | commerceCurrency(cart.currency) }}</span>
                      </div>

                      <div class="quantity field" valid="true">
                        <div class="input">
                          <input type="number"
                                 pattern="\d*"
                                 value="0"
                                 data-id="{{ variant.purchasableId }}"
                                 data-title="{{ product.title }}"
                                 data-size="{{ variant.description }}"
                                 validation="checkForNumber" />
                        </div>
                      </div>
                    </div>
                  {% endfor %}

                 {% include "components/stock-error.twig" %}

                </div>

              {% endfor %}

            </div>

          </div>

        </div>

     </form>

    </div>

  </section>

{% endblock %}
