
{% extends "_layout" %}
{% includeCssFile "/quickorder.css" %}
{% includeJsFile "/quickorder.js" %}

{% block main %}

  <section id="stage" class="slim-stage">
    <div class="image"></div>
    <div class="lock">
      <h1 class="acumin-stage"><div>Quick Order</div></h1>
    </div>
  </section>

  {% include "components/notice.twig" %}

  <section id="order-form">

    <div class="lock narrow">

      <div class="category-group">

        <form id="product-addition">

          <div class="group-header">

            <h1 class="acumin-medium-bold">Lunch & Dinner</h1>

            <div>
              <div class="option">Option</div>
              <div class="price">Price</div>
              <div class="quantity">Quantity</div>
            </div>

          </div>

          <div class="group-body">

            {% for product in craft.commerce.products %}

              <div class="entry input-container">

                <div class="product">

                  {% for variant in product.variants %}
                    <div class="variant-row">
                      {% if loop.first %}
                        <div class="title"><span class="acumin-small-bold">{{ product.title }}</span><a href="/shop/details/{{ product.slug }}">See Details</a></div>
                      {% endif %}
                      <input type="hidden" name="qty" value="0">
                      <input type="hidden" name="purchasableId" value="{{ variant.purchasableId }}">
                      <div class="option">{{ variant.description }}</div>
                      <div class="price">${{ variant.salePrice }}</div>

                      <div class="quantity field" valid="true">
                        <div class="input">
                          <input type="number"
                                 pattern="\d*"
                                 value="0"
                                 data-id="{{ variant.purchasableId }}"
                                 id="firstName"
                                 validation="checkForNumber" />
                        </div>
                      </div>
                    </div>
                  {% endfor %}

                </div>

               {% include "components/stock-error.twig" %}

              </div>

            {% endfor %}

          </div>

          <div class="summary">

            <div class="row-columns">
              <div class="flex">
                <p class="acumin-small-bold">Total</p>
                <p class="acumin-small-bold quantity" data-total="price"></p>
              </div>
            </div>

            <input type="submit" value="Add To Cart" />

          </div>

        </form>

      </div>

      <div class="product-post-submission">

        <p class="acumin-small-bold">Your items have been added to your cart</p>
        <a href="/checkout" class="call-to-action">Checkout Now</a>
        <span class="acumin-medium">OR</span>
        <a href="/shop" class="call-to-action">View More Meals</a>

      </div>

    </div>

  </section>

{% endblock %}
